<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav__inner">
      <div class="top">
        <div>
          <h1 class="f__medium">BSS Management</h1>
          <p class="f__medium">Powered by DIAMOND</p>
        </div>
        <button>
          <svg viewBox="0 0 24 24" stroke="currentColor" id="menuOff">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 10h16M4 14h16M4 18h16"
            />
          </svg>
        </button>
      </div>
      <div class="bottom vertical__scroll">
        <div class="profile__box">
          <div class="img__wrap">
            <img src="./assets/img/profile.jpg" alt="테스트 프로필 이미지" />
          </div>
          <p class="name f__medium">Abbott Keitch</p>
          <p class="email">admin@fusetheme.com</p>
        </div>
        <div class="menu__list">
          <!-- 대시보드 -->
          <div class="list__item">
            <a href="./dashboard.html">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">대시보드</p>
            </a>
          </div>
          <!-- // 대시보드 -->
          <!-- 디바이스 현황 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">디바이스 현황</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size2">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">스테이션 상태</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">장애현황</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 디바이스 현황 -->
          <!-- 서비스 조회 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">서비스 조회</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size3">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">대여 이력</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">장애 이력</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">사용자 인증 이력</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 서비스 조회 -->
          <!-- 디바이스 관리 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">디바이스 관리</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size5">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">그룹관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">스테이션 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">배터리 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">디바이스 상세이력</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">OTA</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 디바이스 관리 -->
          <!-- 고객 관리 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">고객 관리</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size2">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">고객 조회</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">포인트 충전 관리</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 고객 관리 -->
          <!-- 고객 센터 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">고객센터</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size4">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">고장신고 접수</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">FAQ관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">Q&A관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">공지사항 관리</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 고객 센터 -->
          <!-- 시스템 관리 -->
          <div class="list__item sub">
            <div class="sub__title">
              <span class="icon">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"
                  />
                </svg>
              </span>
              <p class="f__medium txt">시스템 관리</p>
              <button class="arrow__btn">
                <svg viewBox="0 0 24 24" stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
            <div class="sub__menu__list size5">
              <div>
                <ul>
                  <li>
                    <a href="#">
                      <p class="f__medium">시스템 코드 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">공통코드 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">운영정보 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">메뉴 관리</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p class="f__medium">권한 관리</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- // 시스템 관리 -->
        </div>
      </div>
    </div>
  </body>
</html>
