<div class="footer__inner">
  <div class="inner__left">
    <img src="/public/img/logo.png" alt="(주)엠에쓰아이 로고" />
    <p class="copyright f__midium roboto">
      Ⓒ2021 MSI Co.,Ltd. ALL RIGHTS RESERVED.
    </p>
  </div>
  <div class="inner__right">
    <div class="right__top">
      <p class="notosansKr">
        경기도 용인시 기흥구 흥덕1로 13 흥덕IT밸리 컴플렉스동 405호 (16954)
      </p>
      <dl class="notosansKr">
        <dt>사업자등록번호 :&nbsp;</dt>
        <dd>229-81-03121</dd>
      </dl>
    </div>
    <div class="right__bottom">
      <dl class="notosansKr">
        <dt>TEL :&nbsp;</dt>
        <dd>+82-31-378-0702</dd>
      </dl>
      <dl class="notosansKr">
        <dt>FAX :&nbsp;</dt>
        <dd>+82-31-378-0402</dd>
      </dl>
      <dl class="notosansKr">
        <dt>E-mail :&nbsp;</dt>
        <dd>msi@msi-emb.com</dd>
      </dl>
    </div>
  </div>
</div>
