<div class="header__inner">
  <h1>
    <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/index.html">
      <img src="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/public/img/logo.png"
        alt="(주)엠에쓰아이 로고" />
    </a>
  </h1>
  <nav>
    <ul class="nav__list">
      <li>
        <a class="f__bold roboto"
          href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/index.html">Home</a>
      </li>
      <li>
        <a class="f__bold roboto"
          href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=1">About
          us</a>
        <ul>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=1">MSI</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=2">CEO
              인사말</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=3">주요연혁</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=1"
          class="f__bold roboto">Business</a>
        <ul>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=1">비지니스
              1</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=2">비지니스
              2</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=3">비지니스
              3</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=4">비지니스
              4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=1"
          class="f__bold roboto">Solution</a>
        <ul>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=1">제조
              실행</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=2">자동화</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=3">분석
              진단</a>
          </li>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=4">임베디드</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/contact/index.html?section=1"
          class="f__bold roboto">Contact</a>
        <ul>
          <li>
            <a class="notosansKr"
              href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/contact/index.html?section=1">찾아오시는길</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="item menu__icon">
    <button class="menu-trigger" id="menuIcon">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</div>