<div class="bg__box">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<nav>
  <ul>
    <li class="navi__menu__list">
      <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/index.html"
        class="f__bold roboto">Home</a>
    </li>
    <li class="navi__menu__list">
      <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=1"
        class="f__bold roboto">About
        us</a>
      <ul>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=1"
            class="notosansKr">MSI</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=2"
            class="notosansKr">CEO
            인사말</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/aboutus/index.html?section=3"
            class="notosansKr">주요연혁</a>
        </li>
      </ul>
    </li>
    <li class="navi__menu__list">
      <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=1"
        class="f__bold roboto">Business</a>
      <ul>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=1"
            class="notosansKr">비지니스
            1</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=2"
            class="notosansKr">비지니스
            2</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=3"
            class="notosansKr">비지니스
            3</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/business/index.html?section=4"
            class="notosansKr">비지니스
            4</a>
        </li>
      </ul>
    </li>
    <li class="navi__menu__list">
      <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=1"
        class="f__bold roboto">Solution</a>
      <ul>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=1"
            class="notosansKr">제조
            실행</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=2"
            class="notosansKr">자동화</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=3"
            class="notosansKr">분석
            진단</a>
        </li>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/solution/index.html?section=4"
            class="notosansKr">임베디드</a>
        </li>
      </ul>
    </li>
    <li class="navi__menu__list">
      <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/contact/index.html?section=1"
        class="f__bold roboto">Contact</a>
      <ul>
        <li>
          <a href="https://kimjihwan0618.github.io/publisher/concept02/web/msi/concept02/contact/index.html?section=1"
            class="notosansKr">찾아오시는길</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>