@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f17563;
  font-family: Open Sans;
  font-size: 50px;
  color: #222;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  background: white;
  box-shadow: 0 3px 5px 0 rgb(12 0 46 / 3%);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: relative;
  border: 1px solid transparent;
  background: linear-gradient(135deg, #fdb43d, #eed3ad);
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px 0;
  box-sizing: border-box;
  font-size: .85rem;
  margin: 72px auto 0;
  width: 50%;
  font-weight: 800;
  font-size: 20px;
}

button:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  width: 101%;
  height: 101%;
  z-index: 2;
}

button:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

button:active:after {
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

h1>span {
  display: block;
  min-width: 60px;
  border: 2px solid rgb(177, 177, 177);
  min-height: 41.6px;
  padding: 4px 8px;
  box-sizing: border-box;
}

.card__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.item {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 32%;
  height: 230px;
  cursor: pointer;
  margin-top: 24px;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.front .jr {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 134px;
  height: 164px;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card .front {
  background: #FDCD81 url(./bg.svg) no-repeat 50% 50%;
  background-size: 100%;
}

.card .back {
  background: #FDCD81 url(./bg.svg) no-repeat 50% 50%;
  color: white;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  font-size: 36px;
  text-shadow: 1px 1px 2px pink;
  font-weight: 800;
}

.item:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

input {
  display: none;
}

.active .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.item.active:hover .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1200px) {
  .item {
    width: 48%;
  }
}

@media (max-width: 650px) {
  .item {
    width: 100%;
  }
}