header{
  position: fixed;
  left: 0;
  top: 0;
  height: 93px;
  line-height: 93px;
  width: 100%;
  line-height: 93px;
  -webkit-transition: all 0.16s linear 0s;
  z-index: 20;
}
.header-inner{
    width: 78.85%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
  display: flex;
}
.logo a{
  display: inline-block;
  width: 142px;
  height: 37px;
  position: relative;
}
.logo a img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.16s linear 0s;
}
header.logo_blue{
  box-shadow: 0px 4px 6px 0px rgb(12,0,46,6%);
  background-color: white;
}
header.logo_blue .logo a img:nth-of-type(1){
  opacity: 1;
}
header.logo_white a img:nth-of-type(2){
  opacity: 1;
}
.header-right{
  display: flex;
  align-items: center;
}
.header-right nav ul{
  display: flex;
  margin-right: 80px;
}
nav ul li{
  margin-left: 60px;
}
nav ul li:first-of-type{
  margin-left: 0;
}
header.logo_blue nav ul li a{
  color: #051441;
}
nav ul li a{
  font-size: 1.4rem;
  color: white;
  -webkit-transition: all 0.12s linear 0s;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.logo_white nav ul li a{
  opacity: 0.7;
}
.logo_white nav ul li a:before{
  position: absolute;
  left: 0;
  bottom: 27px;
  width: 0%;
  height: 2px;
  content: "";
  display: block;
  -webkit-transition: all 0.1s linear 0s;
  -webkit-transform-origin: 50% 50%;
  background-color: white;
}
.header-right .signin-btn{
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  width: 120px;
  height: 51px;
  line-height: 51px;
  border-radius: 5px;
  background-color: white;
  font-size: 1.6rem;
  box-shadow: 0 12px 24px rgba(0,0,0,0.14);
  color: #3A63AB;
  -webkit-transition: all 0.16s linear 0s;
}
.header-right .signin-btn:hover{
  /* background-color: #3a63ab;
  color: white;
  box-shadow: none;
  border: 2px solid #3A63AB; */
  -webkit-transform: scale(1.05);
}
nav ul li{
  position: relative;
}
.logo_white nav ul li a:hover:before{
  width: 100%;
}
.logo_white nav ul li a.on:before{
  width: 100%;
}
.logo_white nav ul li a.on{
  opacity: 1;
}
.logo_white nav ul li a:hover{
  opacity: 1;
}
.logo_blue nav ul li a:hover{
  color: #3e74d1;
}
.logo_blue nav ul li a.on{
  color: #3e74d1;
}
@media screen and (max-width: 1280px){
  .header-inner{
    width: 86%;
  }
  .header-right nav ul{
    margin-right: 48px;
  }
  nav ul li{
    margin-left: 48px;
  }
}
@media screen and (max-width: 980px){
  .logo_white nav ul li a:before{
    display: none;
  }
  .header-inner{
    width: 88%;
  }
  .header-right{
    position: fixed;
    left: 0;
    width: 100%;
    top: 93px;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    height: 0px;
    -webkit-transition: all .3s ease-in-out 0s;
  }
  .header-right nav{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 1px solid #f1f1f1;
  }
  .header-right nav ul{
    margin-right: 0px;
    flex-direction: column;
  }
  .header-right nav ul li{
    margin-left: 0px;
  }
  .header-right nav ul li a{
    color: #051441;
    width: 100%;
    display: block;
    text-align: center;
    height: 75px;
    line-height: 75px;
  }
  .header-right nav ul li a:hover{
    background-color: #3A63AB;
    color: white;
  }
  .header-right nav ul li a.on{
    background-color: #3A63AB;
    color: white;
  }
  header.on .header-right{
    height: 469px;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 16%);
  }
}