.addacc-hd:after{content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: #f6f6f6;
    border-bottom: 0.5px solid #d8d8d8;
    border-top: 0.5px solid #d8d8d8;}


/* 기존 계좌가 있는경우  */

.add_acc-main{display: none;
               width: 91.11%;
               margin: 0 auto;
               padding-top: 126px;
              }
.add_acc-main.on{display: block;}

.acc_item{width: 89.024%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 26px;}
.acc_item>div{display: flex;
              align-items: center;}

.acc_item dl{font-size: 12px;
             display: inline-block;}
.acc_item dt{margin-bottom: 3px;}        



.acc_item dd{margin-bottom: 3px;
             color: #a0a0a0;}             
.acc_item a{font-size: 12px;
            display: inline-block;
            width: 27px;
            height: 27px;
            border-radius: 100%;
            text-align: center;
            }
.acc_item a img{width: 100%;
                height: 100%;}

.acc_item>div>img{display: inline-block;
               width: 44px;
               height: 44px;
               margin-right: 18px;
               }


body .acc_item:last-of-type{margin-bottom: 38px;}
.add_acc_body>div{
    padding-bottom: 202px;
}
.add_acc_body>div>a{display: block;
                 color: white;
                 width: 156px;
                 height: 41px;
                 background: #878787;
                 line-height: 41px;
                 text-align: center;
                 font-family: 'NanumSquareRoundEB';
                 border-radius: 5px;
                 margin: 0 auto;
                 font-size: 14px;
                 box-sizing: border-box;
                 padding-right: 3.5px;}
.acc_item dt span:nth-of-type(2){margin-left: 10px;
                  font-size: 10px;
                  color: #f76800;
                  display: inline-block;
                  width: 51px;height: 19px;
                  text-align: center;
                  line-height: 19px;
                  opacity: 0;
                  background-color: rgba(247,104,0,0.1);border-radius: 9.5px;font-family:'NanumSquareRoundB';
                 }
.acc_item dt span:nth-of-type(2).on{opacity: 1;}

.account_setting-notice{position: fixed;
                        left: 50%;-webkit-transform: translateX(-50%);
                        bottom: 77px;
                        line-height: 41px;
                        text-align: center;
                        font-size: 12px;
                        font-family: 'NanumSquareRoundB';
                        color: #fff;
                        width: 88%;
                        height: 41px;
                        opacity: 0;
                        border-radius: 5px;
                        background-color: rgba(0,0,0,0.8);}
.account_setting-notice.on{-webkit-animation: acc_not 5s linear 0s forwards;}
@keyframes acc_not{
    0%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

/* 기존계좌 없는경우 */
.add_acc-none{
    display: none;
    padding-top: 179px;
    text-align: center;
}
.add_acc-none p{
    text-align: center;
    line-height: 1.79;
    font-size: 14px;
}
.add_acc-none .img{
    display: inline-block;
    width: 40px;
    height: 41px;
    margin: 40px auto 54px;
    background: url(../img/add-acc.png) no-repeat 0 0;
    background-size: cover;
}

.add_acc-none.on{
    display: block;
}