@font-face{font-family: "NanumSquareRoundB";
    src:url(../font/NanumSquareRoundB.ttf)}
@font-face{font-family: "NanumSquareRoundEB";
    src:url(../font/NanumSquareRoundEB.ttf)}
@font-face{font-family: "NanumSquareRoundR";
    src:url(../font/NanumSquareRoundR.ttf)}
@font-face{font-family: "NanumSquareRoundL";
    src:url(../font/NanumSquareRoundL.ttf)}
