<div class="sub__tilte__txt">
  <h3 class="notosansKr f__midium">찾아오시는길</h3>
</div>
<h4 class="notosansKr">
  우리는 고객에 몰입할 수 있는 최적의 업무환경을 지원합니다.
</h4>
<div class="subpage__content">
  <div id="map"></div>
  <ul class="contact__info">
    <li>
      <dl>
        <dt class="notosansKr f__midium">주소</dt>
        <dd>
          경기도 용인시 기흥구 흥덕1로 13 흥덕IT밸리 컴플렉스동 405호 (16954)
        </dd>
      </dl>
    </li>
    <li>
      <dl class="contact__info">
        <dt class="notosansKr f__midium">TEL</dt>
        <dd>+82-31-378-0702</dd>
      </dl>
    </li>
    <li>
      <dl class="contact__info">
        <dt class="notosansKr f__midium">FAX</dt>
        <dd>+82-31-378-0402</dd>
      </dl>
    </li>
    <li>
      <dl class="contact__info">
        <dt class="notosansKr f__midium">이메일</dt>
        <dd>msi@msi-emb.com</dd>
      </dl>
    </li>
  </ul>
</div>
