.srch_dim.on{display: block;}
.srch_dim{display: none;position: fixed;left: 0;top: 0;z-index: 130;width: 100%;height: 100%;
        background: rgba(0,0,0,0.6);}
        
/* header */
/* logo */
h1.logo{float: left;}
h1.logo a{display: block;width: 176px;height: 36px;background: url(../images/logo.png) no-repeat 0 0;
		text-indent: -9999px;overflow: hidden;margin-top: 15px;margin-left: 28px;}
/* 탑메뉴 */
.topMenu{position: absolute;top: 30px;right: 0;}
.topMenu_area{width: 164px;}
.topMenu_area:after{content: "";display: block;clear: both;}
dl.topMenu_sns{float: left;width: 50px;}
dl.topMenu_lang{float: left;width: 50px;}
dl.topMenu_lang dt{padding-left: 10px;padding-bottom: 18px;}
dl.topMenu_sns dt{position: relative;padding-left: 13px;padding-bottom: 18px;}

dl.topMenu_sns dt a:after{content: "";background: #ccc;position: absolute;right: 0;top: 4px;width: 1px;height: 10px;}

p.search_clo_btn{display: none;float: right;position: absolute;top: -33px;right: 0;}
div.search{display: none;}

p.search_clo_btn{float: right;}
p.search_clo_btn a{display: block;width: 60px;height: 70px;background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%
;width: 60px;height: 70px;text-indent: -9999px;overflow: hidden;margin-top: 3px;}

header dl dd ul{display: none;}
header dl dt a{color: #333;font-weight: bold;}



.topMenu .topMenu_area dl dt:hover,.topMenu .topMenu_area dl dd:hover{border-bottom: 4px solid #043285;}

dl.topMenu_sns dd ul{background-color: white;width: 50px;padding:10px 0 10px;margin-right: 30px;}
dl.topMenu_sns dd ul li{padding-left: 10px;line-height: 300%;text-align: center;}
dl.topMenu_sns dd ul li a{text-indent: -9999px;overflow: hidden;
	display: block;width: 30px;height: 30px;border-radius: 20px;margin: 10px 0 20px;}
dl.topMenu_sns dd ul li:nth-child(1) a{background: rgba(0,0,0,0.1) url(../images/utill_sns_ico.png) no-repeat -30px 0;}
dl.topMenu_sns dd ul li:nth-child(2) a{background: rgba(0,0,0,0.1) url(../images/utill_sns_ico.png) no-repeat -60px 0;}
dl.topMenu_sns dd ul li:nth-child(3) a{background: rgba(0,0,0,0.1) url(../images/utill_sns_ico.png) no-repeat -90px 0;}
dl.topMenu_sns dd ul li:nth-child(4) a{background: rgba(0,0,0,0.1) url(../images/utill_sns_ico.png) no-repeat -120px 0;}

dl.topMenu_lang dd ul{background-color: white;width: 50px;} 
dl.topMenu_lang dd ul li{line-height: 300%;text-align: center;}
dl.topMenu_lang dd ul li a{color: #999;}

p.search_click{float: right;position: absolute;top: -33px;right: 0;}
p.search_click a{display: block;width: 60px;height: 70px;background: #043285 url(../images/btn_srch_ico.png) no-repeat 50% 50%
				;text-indent: -9999px;overflow: hidden;margin-top: 3px;}


div.srch_area{position: fixed;left: 0;z-index: 1000;width: 100%;height: 310px;
				;}
div.search{position: absolute;background: url(../images/srch_pop_bg.jpg) no-repeat 0 0;
	width: 100%;min-width: 1920px;height: 260px;background-size: cover;
			margin: 0 auto;}
div.search_inner{width: 678px;margin: 0 auto;padding: 60px 0;}
p.search_box{width: 100%;padding-bottom: 20px;margin-bottom: 20px;
				border-bottom: 1px solid #7fa6d3;}

div.search input[type="text"]{width: 678px;height: 55px;
								padding: 0 0 0 20px;border:none;line-height: 55px;box-sizing: border-box;}
div.search input[type="submit"]{position: absolute;right: 33%;top: 65px;cursor: pointer;
								width: 45px;height: 45px;background: #333 url(../images/btn_srch_ico.png) no-repeat 50% 50%;
								text-indent: -9999px;overflow: hidden;border: none;}
div.search_inner ul li{float: left}
div.search_inner ul li a{display: inline-block;min-width: 140px;height: 45px;line-height: 45px;
						padding: 0 20px;border-radius: 5px;background: #eee;color:#000;
						box-sizing: border-box;text-align: center;font-size: 16px;}
div.search_inner ul li.left a{margin-left: 9px;}
div.search_inner ul li a:after{content: "";display: inline-block;vertical-align: middle;
				width: 5px;height: 9px;margin-left: 8px;background: url(../images/btn_arrow_ico_m.png) 0 50% no-repeat;
				background-size: 5px 9px;}

/* 주메뉴 */
nav > ul{width: 100%;margin-top: 10px;}
nav > ul:after{content: "";display: block;clear: both;}
nav > ul > li{width: 120px;float: left;text-align: center;line-height: 50px;margin-left: 80px;}
nav > ul > li a{font-size: 18px;color: #333;font-weight: bold;}
nav > ul > li > ul{display: block;position: absolute;left: 0;top: 30px;
					width: 1200px;height: 350px;padding: 5px;}
	nav > ul > li:first-child > ul{left: 50px;}
	nav > ul > li:nth-child(2) > ul{left: 50px;}
	nav > ul > li:nth-child(3) > ul{left: 350px;}
	nav > ul > li:nth-child(4) > ul{left: 50px;}
	nav > ul > li:last-child > ul{left: 0px;}
nav > ul > li > a{position: relative;display: inline-block;width: 100%;}

nav > ul > li > a:after{content: "";opacity: 0;
						position: absolute;left: 50%;bottom: 0;
						width: 0;height: 0;background: #043285;
						transform: translate(-50%,0);
						transition: width .4s ease-in-out;}
nav > ul > li.on a:after{content: "";opacity: 1;width: 100%;height: 3px;}

nav > ul > li > ul > li{margin:40px 0 0 0;float: left;text-align: left;padding-left: 55px;}
							nav > ul > li > ul > li::before{background: #ddd;width: 1px;height: 100%;}
nav > ul > li > ul > li > a{color: #1428a0; font-size: 16px;}
nav > ul > li > ul > li > ul > li{text-align: left;}
nav > ul > li > ul > li > ul > li a{font-size: 15px;font-weight: 400;}

.Product_Search{position: absolute;top:300px;left: 20px;}
.Component_Library{position: absolute;top:300px;right: 350px;}

.Product_Search p:nth-of-type(1),.Component_Library p:nth-of-type(1){font-size: 18px;color: #333;} 
.Product_Search p:nth-of-type(2),.Component_Library p:nth-of-type(2){position: absolute;
												top:30px;font-size: 14px;color:#333;font-weight: 400;padding-bottom: 30px;}
.Product_Search a,.Component_Library a{position: relative;display: block;width: 340px;height: 78px;background: white 
					url(../images/btn_arrow_ico_l.png) no-repeat 90% 50%;border: 1px solid #e2e2e2;
								color: #666;border-radius: 5px;padding-left: 10px;}

nav > ul > li:nth-of-type(5) > ul > li:nth-child(5) {height: 5px;width: 250px;}
nav > ul > li:nth-of-type(5) > ul > li:nth-child(6) {height: 5px;width: 250px;}
nav > ul > li:nth-of-type(5) > ul > li:nth-child(7) {height: 5px;width: 250px;}
nav > ul > li:nth-of-type(5) > ul > li:nth-child(8) {height: 5px;}

.gnb_right_menu a{font-weight: 400;font-size: 15px;}
.gnb_right_menu{float: right;padding-left: 60px;}
.gnb_left_menu a{font-weight: 400;font-size: 15px;}
.gnb_left_menu{float: left;}


li.line_right1{height: 300px;border-right: 1px solid #ddd;padding-right: 55px;}
li.line_right2{height: 160px;border-right: 1px solid #ddd;padding-right: 55px;}
li.line_right3{border-right: 1px solid #ddd;padding-right: 55px;}
li.line_right4{height: 270px;border-right: 1px solid #ddd;padding-right: 55px;}
li.line_right5{height: 160px;border-right: 1px solid #ddd;padding-right: 55px;}