
/* main.css */


/* layout */


#wrap{width: 100%;min-width: 1380px;}
header{z-index: 1300;position: fixed;width: 100%;height: 70px;background: #fff;
		border-bottom: 1px solid #ccc;}
.header_wrap{z-index: 900;position: fixed;left: 0;top: 0;width: 100%;height: 70px;
			background: #f3f3f3;}	
.header_inner{position: relative;width: 1020px;margin: 0 auto;}


#container{width: 100%;}
	.main_banner{margin: 0 auto;width: 100%;}
	.content1{padding:80px 0 120px;}
	.content2{width: 100%;height: 948px;background: url(../images/bg_newsroom.jpg) repeat-x 0 0 ;margin: 0 auto;
				padding-top: 80px;}
	.content2_inner{width: 1300px;margin: 0 auto ;background: white;
					padding:70px 0 70px;}
	.content3{width: 1220px;margin: -290px auto 100px;padding-left:65px;}
#site_map{width: 100%;background: #f3f3f3;margin: 0 auto;padding-bottom: 105px;}
.site_map_inner{margin:0 auto;width: 1440px;padding-right: 100px;}
#footer{width: 100%;min-width: 1140px;max-width: 1920px;margin: 0 auto;background: #474b50;padding:30px 0 10px;
		box-sizing: border-box;}
.footer_inner{position: relative;margin: 30px auto;width: 1200px;height: 100px;}
/* container */


/* mainbanner */
.main_banner{position: relative;}


.main_banner .slide_wrap{position: relative;width: 100%;height: 880px;max-width: 1920px;min-width: 1360px;margin: 0 auto;}
.main_banner .slide{position: absolute;width: 100%;height: 100%;top: 0;left: 0;opacity: 0;
					transition: .5s opacity ease-out;}
.main_banner .slide.active{opacity: 1;}
.main_banner .slide video{width: 100%;height: 100%;}
		

		
		.main_banner .banner_txt{position: absolute;top: 230px;color:#fff;width: 1920px;text-align: center;
									line-height: 56px;font-size: 40px;}
		.main_banner .banner_txt p{width: 1330px;height: 115px;margin: 0 auto;font-weight: 400;}


		.main_banner ul.banner_btn{position: absolute;top:92%;left: 47.5%;}
		.main_banner ul.banner_btn li{float: left;margin-right: 8px;}
		.main_banner ul.banner_btn li a.next{display: block;width: 10px;height:10px;background: #aaa;
										border-radius: 10px;text-indent: -9999px;overflow: hidden;}
										a.stop{position: absolute;left: 50.5%;top:92%;background: url(../images/slide_btn1.png) no-repeat 0px 10%;
										display: block;width: 9px;height: 20px;text-indent: -9999px;
										overflow: hidden;}
		.main_banner ul.banner_btn li a.next.on{background: #fff;}
.banner_left a{background: url(../images/slide_arr_btn.png) no-repeat 30px 0;width: 60px;height: 57px;display: block;
							text-indent: -9999px;overflow: hidden;
												position: absolute;left: 0;top: 50%;}
.banner_right a{background: url(../images/slide_arr_btn.png) no-repeat -30px 0;width: 60px;height: 57px;display: block;
							text-indent: -9999px;overflow: hidden;position:absolute ;right: 0;top: 50%;}

a.play{position: absolute;left: 50.5%;top:92%;background: url(../images/slide_btn1.png) no-repeat -9px 10%;
	display: block;width: 9px;height: 20px;text-indent: -9999px;
	overflow: hidden;}

/* content1 */ 
.content1 h2{text-align: center;font-weight: bold;font-size: 38px;margin-bottom: 60px;}
.content1_inner{position: relative;width: 1202px;margin: 0 auto;display: block;}
.content1_inner ul{margin: 0 0 72px 110px;overflow: hidden;}
.content1_inner ul:after{content: "";display: block;clear: both;}
.content1_inner ul  li{float: left;border-left: 1px solid #ccc;
						padding: 0 10px;text-align: center;box-sizing: border-box;}
.content1_inner ul  li p.tit{margin-bottom: 20px;padding-top: 90px;font-size: 18px;color: #000;
								font-weight: 600;}
.content1_inner ul > li p.txt{font-size: 26px;color: #000;}
.content1_inner ul > li p.txt span{font-size: 40px;color: #000;}

.content1_inner ul.info_list li:first-child{width: 230px;border-left: none;}
.content1_inner ul.info_list li:nth-child(2){width: 260px;}
.content1_inner ul.info_list li:nth-child(3){width: 250px;}
.content1_inner ul.info_list li:nth-child(4){width: 350px;}

.content1_inner ul.info_list li:first-child p.tit{background: url(../images/icon_aboutus_01.png) no-repeat 50% 0;}
.content1_inner  ul.info_list li:nth-child(2) p.tit{background: url(../images/icon_aboutus_02.png) no-repeat 50% 0;}
			 
.content1_inner  ul.info_list li:nth-child(3) p.tit{background: url(../images/icon_aboutus_03.png) no-repeat 50% 0;}

.content1_inner  ul.info_list li:nth-child(4) p.tit{background: url(../images/icon_aboutus_04.png) no-repeat 50% 0;}

			
			
							
			
#wrap.content1 .content1_inner .btn_wrap{position: relative;text-align: center;margin-top: -23px;}
.content1 p.info_more a{display: block;width: 180px;height: 45px;line-height: 45px;box-sizing: border-box;
									background: #043285 url(../images/icon_btn_arrow_w.png) no-repeat 80% 50%
									;color: white;text-align: center;margin: 0 auto;}
.content1 p.year{position: absolute;right: 0;bottom: 10px;width: 300px;
				padding-right: 25px;font-size: 14px;text-align: right;}


			/* content2 */
.content2 h2{text-align: center;font-weight: bold;font-size: 35px;margin-top: 20px;}
.content2_inner:after{content: "";display: block;clear: both;}
.content2_inner ul.newsroom{float: left;padding-left: 60px;margin-top: 60px;}
.content2_inner ul.newsroom li{float: left;margin-left: 50px;margin-right: 40px;}
.content2_inner ul.newsroom li a{width: 190px;height: 60px;display: block;color: #333;
								font-size: 15px;font-weight: bold;border-bottom: 2px solid #666;
								padding-bottom: 30px;}
								.content2_inner ul.newsroom li span{display: block;margin-top: 15px;
								font-size: 15px;}
.content2_left{float: left;margin-top: 50px;padding-left: 105px;
				width: 600px;height: 190px;background: url(../images/bg_newsletter.jpg) no-repeat 70px 0;}
.content2_left h3{font-size: 35px;font-weight: bold;padding-top: 20px;text-align: left;}
.content2_left p{font-size: 15px;padding-top: 10px;}
.content2_left ul li{float: left;margin: 20px 10px 0;}
.content2_left ul li:nth-child(1) a{display: block;width: 170px;height: 50px;
	background: #fff url(../images/btn_arrow_ico_g.png) no-repeat 85% 40%;color: #333;font-size: 15px;text-align: center;line-height: 3.0;}
.content2_left ul li:nth-child(2) a{display: block;width: 170px;height: 50px;background: #fff url(../images/btn_arrow_ico_g.png) no-repeat 85% 40%;
	         		;color: #333;font-size: 15px;text-align: center;line-height: 3.0;}

.content2_right h3{padding-top: 20px;}
.content2_right{float: left;margin-top: 50px;padding-left: 40px;}
.content2_right p{font-size: 15px;padding-top: 10px;}
.content2_right h3{font-size: 35px;font-weight: bold;}
.content2_right ul{margin-top: 25px;}
.content2_right ul li{display: inline;margin-right: 40px;}
	   .content2_right ul li a{display: inline-block;width: 61.5px;height: 61px;
								text-indent: -9999px;overflow: hidden;}
	   .content2_right ul li:nth-child(1) a{background: url(../images/icon_social.png) no-repeat 0 0 ;}
	   .content2_right ul li:nth-child(2) a{background: url(../images/icon_social.png) no-repeat -61.5px 0 ;}
	   .content2_right ul li:nth-child(3) a{background: url(../images/icon_social.png) no-repeat -123px 0 ;}
	   .content2_right ul li:nth-child(4) a{background: url(../images/icon_social.png) no-repeat -184.5px 0 ;}

	   .content2_right ul li:nth-child(1) a:hover{background-position: 0 -61px;}
	   .content2_right ul li:nth-child(2) a:hover{background-position: -61.5px -61px;}
	   .content2_right ul li:nth-child(3) a:hover{background-position: -123px -61px;}
	   .content2_right ul li:nth-child(4) a:hover{background-position: -184.5px -61px;}
	   

/* content3 */
.content3 h2{text-align: center;font-size: 40px;font-weight: bold;color: white;width: 1150px;
			margin: 20px 0 70px;}
.content3:after{content: "";display: block;clear: both;}
.content3 div{float: left;margin-right: 50px;}
.content3 span{text-indent: -9999px;overflow: hidden;}
.content3 h3{color: darkblue;font-size: 25px;font-weight: bold;margin: 25px 0;}
.content3 p{font-size: 15px;margin-bottom: 20px;border-bottom: 2px solid darkblue;padding-bottom: 30px;}
.content3 li a{font-size: 20px;color: #333;line-height: 550%;font-weight: bold;
				display: block;width: 350px;
				background: url(../images/icon_btn_arrow_b.png) no-repeat 100% 50%;}
.content3 li{border-bottom: 1px solid #999;}				
		.content3_list1 span{display: block
			;background: url(../images/bg_product_01.jpg) no-repeat 0 0;width: 350px;height: 180px;}
		.content3_list2 span{display: block
			;background: url(../images/bg_product_02.jpg) no-repeat 0 0;width: 350px;height: 181px;} 
		.content3_list3 span{display: block
			;background: url(../images/bg_product_03.jpg) no-repeat 0 0;width: 350px;height: 180px;}


/* site_map_inner */
.site_map_inner dl{float: left;margin-left: 180px;}
.site_map_inner dt a{font-size: 20px;color:#333 ;font-weight: 600;}
.site_map_inner dt{margin-top: 60px;margin-bottom: 20px;}
.site_map_inner dd a{font-size: 15px;color:#666 ;line-height: 250%;}
.site_map_inner:after{content: "";display: block;clear: both;}
