main>.inner>section.contactus>.inner {
  display: flex;
  align-items: center;
}

main>.inner>section.contactus>.inner form {
  width: 100%;
}

section.contactus>.inner form>div {
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

section.contactus>.inner form>div ul li:first-of-type span {
  position: relative;
  z-index: 1000;
}

section.contactus>.inner form>div ul li:first-of-type ul {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--main-color_06);
  background: white;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform-origin: 50% 0;
  -webkit-transform: scaleY(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
}

section.contactus>.inner form>div ul li:first-of-type ul.on {
  opacity: 1;
  -webkit-transform: scaleY(1);
}

section.contactus>.inner form>div ul>li:first-of-type ul li {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  min-height: 44px;
  max-height: 44px;
  line-height: 44px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0px;
}

section.contactus>.inner form>div ul>li:first-of-type ul li.on {
  background: var(--main-color_04);
}

section.contactus>.inner form>div ul>li:first-of-type ul li:last-of-type {
  margin-top: 0px;
}

section.contactus>.inner form>div ul li:first-of-type input {
  cursor: pointer;
  background: url('https://site.mypopol.com/ptid01/src/img/select_arrow.png') no-repeat calc(100% - 12px) 50%;
  background-size: auto 40%;
}

section.contactus>.inner form>div ul li {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

section.contactus>.inner form>div ul li label {
  margin-bottom: 9px;
  font-size: 1.1rem;
  position: relative;
}

section.contactus>.inner form>div ul li label:after {
  content: '';
  background-color: var(--main-color_06);
  border-radius: 20px;
  width: 0px;
  height: 8px;
  position: absolute;
  z-index: -1;
  left: 12px;
  bottom: 2px;
  -webkit-transition: all 0.35s ease-in-out 0s;
}

section.contactus>.inner form>div ul li span {
  position: relative;
}

section.contactus>.inner form>div ul li span:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: white;
  -webkit-transition: all 1s ease-in-out 0s;
  -webkit-transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
}

section.contactus.on>.inner form>div ul li span:after {
  -webkit-transform: scaleX(0);
}

section.contactus>.inner form>div ul li input::-webkit-outer-spin-button,
section.contactus>.inner form>div ul li input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.contactus>.inner form>div ul li input,
section.contactus>.inner form>div ul li textarea,
section.contactus>.inner form>div ul li button {
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  border: 2px solid var(--main-color_06);
  border-radius: 4px;
  min-height: 44px;
  max-height: 44px;
  -webkit-transition: all 1s ease-in-out 0s;
}

section.contactus.on>.inner form>div ul li input,
section.contactus.on>.inner form>div ul li textarea,
section.contactus.on>.inner form>div ul li button {
  box-shadow: 0 10px 20px -14px var(--main-color);
}

section.contactus>.inner form>div ul li textarea {
  padding: 12px;
  min-height: 88px;
  max-height: 88px;
}

section.contactus>.inner form>div ul li button {
  -webkit-transition: all 0.35s ease-in-out 0s;
}

section.contactus>.inner form>div ul li button {
  color: var(--main-color);
}

section.contactus>.inner form>div ul li button:hover {
  background: var(--main-color_06);
  color: white;
}

section.contactus>.inner form>div ul li:last-of-type {
  margin-bottom: 0px;
  margin-top: 26px;
}

@media screen and (max-width: 1280px) {
  section.contactus>.inner form>div {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  section.contactus>.inner form>div ul li {
    margin-bottom: 12px;
  }

  section.contactus>.inner form>div ul li label {
    font-size: 1rem;
  }

  section.contactus>.inner form>div ul li input,
  section.contactus>.inner form>div ul li textarea,
  section.contactus>.inner form>div ul li button {
    min-height: 44px;
    max-height: 44px;
  }

  section.contactus>.inner form>div ul li textarea {
    min-height: 84px;
    max-height: 84px;
  }

  section.contactus>.inner form>div ul li span:after {
    -webkit-transform: scale(0);
  }
}