body.none-footer_wrap > div.weather{
  padding: 50px 0 0;
}
.weather_wrap.page{
  background: linear-gradient(to bottom,#66CAFC,#9CD7F5 50%,#bae0f3 100%);
}
/* background: linear-gradient(to bottom,#66CAFC,#9CD7F5 50%,#bae0f3 100%);  낮*/
/* background: linear-gradient(to bottom,#210E3D,#3D3672 50%,#3E4072 100%);  밤*/
.weather_wrap.page.day{
  background: linear-gradient(to bottom,#66CAFC,#9CD7F5 50%,#bae0f3 100%);
}
.weather_wrap.page.night{
  background: linear-gradient(to bottom,#210E3D,#3D3672 50%,#3E4072 100%);
}
.detail_page.weather > div{
  padding-bottom: 20px
}      
.weather_wrap{color: white;}

/* today-weather */
.today-weather_wrap>dl{
  width: 88%;
  margin: 0 auto;
  text-align: center;
}
.today-weather_wrap>dl dt>span{
  display: block;
}
.today-weather_wrap>dl dt>span:nth-of-type(1){
  font-size: 1.6rem;
  opacity: 0.8;
}
.today-weather_wrap>dl dt>span:nth-of-type(2){
  font-size: 2.4rem;
  margin-bottom: 2px;
  margin-bottom: 16px;
}

.weather_img{
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
}
.weather_img img{
  width:70%;
  height:70%;
}
.today-weather_wrap>dl dd .weather{
  font-size:2.2rem;
  font-family: "NotoSansKR-Regular";
}
.today-weather_wrap>dl dd .weather_temper{
  z-index: 0;
  font-family: "NotoSansKR-Regular";
  display: flex;
  align-items: center;
}
.today-weather_wrap>dl dd .weather_temper ul li{
  font-size: 1.4rem;
  display: flex;
}
.today-weather_wrap>dl dd .weather_temper ul li:nth-of-type(1){
  margin-bottom: 4px;
}
.today-weather_wrap>dl dd .weather_temper ul li:nth-of-type(2){
  margin-top: 4px;
}
.today-weather_wrap>dl dd .weather_temper ul li span:nth-of-type(1){
  font-size: 1.3rem;
  border-radius: 50px;
  font-family: 'NotoSansKR-Bold';
  font-weight: bold;
}
.today-weather_wrap>dl dd .weather_temper ul li span:nth-of-type(2){
  margin-left: 4px;
}
.today-weather_wrap>dl dd .weather_temper ul li span:nth-of-type(3){
  font-size: 1rem;
  -webkit-transform: scale(0.95);
  margin-left: 2px;
}
.today-weather_wrap>dl dd .weather_temper ul li span.arrow-up{
  color: rgb(245, 86, 86);
}
.today-weather_wrap>dl dd .weather_temper ul li span.arrow-down{
  color: rgb(32, 182, 32);
}

.today-weather_wrap>dl dd .weather_temper ul{
  margin-left: 20px;
}
.today-weather_wrap>dl dd .weather_temper>span{
  font-size: 5.4rem;
  position: relative;
  margin-right: 12px;
  font-family: 'NotoSansKR-Midium';
}
.today-weather_wrap>dl dd .weather_temper>span:after{
  content: "℃";
  position: absolute;
  right: -20px;
  top: 14px;
  font-size:1.8rem;
}
.today-weather_wrap>dl>dd>ul>li>ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-weather_wrap>dl>dd>ul>li>ul>li:nth-of-type(1){
  margin-right: 15px;
}
.today-weather_wrap>dl>dd>ul>li>ul>li:nth-of-type(2){
  margin-left: 15px;
}
.today-weather_wrap>div ul{
  width: 88%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-weather_wrap>div ul li{
  width: 50%;
}
.today-weather_wrap>div ul li dl{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.today-weather_wrap>div ul li dl dt{
  color: white;       
  font-size:1.4rem;
  font-family: 'NotoSansKR-Regular';
  box-sizing: border-box;
  text-align: center;
}
.today-weather_wrap>div ul li dl dd{
  font-size:1.8rem;
  font-family: 'NotoSansKR-Regular';
  box-sizing: border-box;
}
.daily-weather_wrap{
  width: 88%;
}
.daily-weather_wrap>ul>li>dl{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.daily-weather_wrap>ul>li{
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 12px 0;
}
.daily-weather_wrap>ul>li:first-of-type{
  padding: 0 0 12px;
}
.daily-weather_wrap>ul>li>dl>dt{
  width: 36%;
}
.daily-weather_wrap>ul>li>dl>dd{
  width: 54%;
  box-sizing: border-box;
}

.daily-weather_wrap>ul>li>dl>dt ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daily-weather_wrap>ul>li>dl>dt ul li:nth-of-type(1) p:nth-of-type(1){
  color: white;
  font-size:1.2rem;
  font-family: 'NotoSansKR-Light';
}
.daily-weather_wrap>ul>li>dl>dt ul li:nth-of-type(1) p:nth-of-type(2){
  font-size:1.2rem;
  font-family: 'NotoSansKR-Regular';
}
.daily-weather_wrap>ul>li>dl>dt ul img{
  width:36px;
  height: 36px;
}
.daily-weather_wrap>ul>li>dl>dd ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daily-weather_wrap>ul>li>dl>dd ul li dl{
  line-height: 1.72;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daily-weather_wrap>ul>li>dl>dd ul li dl dt{
  color: white;
  font-family: 'NotoSansKR-Regular';
}
.daily-weather_wrap>ul>li>dl>dd ul li dl dd{
  font-size:1.2rem;
  font-family: 'NotoSansKR-Regular';
  display: flex;
}
.daily-weather_wrap>ul>li>dl>dd ul li dl dd span:nth-of-type(2){
  font-size: 1rem;
  -webkit-transform: scale(0.8);
}
.weather_wrap .wrap_title{
  width: 100%;
  padding: 8px 0;
}
.weather_wrap .wrap_title h3{
  width: 88%;
  margin: 0 auto;
  font-size: 1.6rem;
}
.weather_wrap .section{
  margin: 14px auto;
}
/* .weather_wrap .section.hours_info_wrap{
  margin: 14px auto 8px;
} */
.weather_wrap .section.today-weather_wrap{
  margin: 14px auto 40px;
}
.hours_info_wrap{
  width: 100%;
  overflow-x: scroll;
  position: relative;
}
.hours_info_wrap::-webkit-scrollbar{
  display: none;
}
.hours_info_wrap .hours_wrap_inner ul.swiper-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 26px;
}
.hours_info_all_wrap .hours_info_wrap .hours_wrap_inner ul{
  float: left;
}
.hours_info_all_wrap{
  position: relative;
  width: 88%;
  margin: 0 auto;
}
.hours_info_all_wrap>ul.title{
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.9);
  border-radius: 100px;
}
.hours_info_all_wrap>ul.title li{
  font-size: 1.25rem;
  font-family: 'NotoSansKR-Regular';
}
.hours_info_all_wrap>ul.title li{
  width: 26px;
  height: 26px;
  line-height: 26px;
}
.hours_info_all_wrap>ul.title li:nth-of-type(2){
  width: 26px;
  height: 34px;
  line-height: 34px;
}
.hours_info_all_wrap>ul.title li:nth-of-type(1){
  background: url(../img/home/weather/time_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.hours_info_all_wrap>ul.title li:nth-of-type(2){
  background: url(../img/home/weather/weather_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.hours_info_all_wrap>ul.title li:nth-of-type(3){
  background: url(../img/home/weather/tem_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.hours_info_all_wrap>ul.title li:nth-of-type(4){
  background: url(../img/home/weather/hum_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}

.night .hours_info_all_wrap>ul.title li:nth-of-type(1){
  background: url(../img/home/weather/time_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.night .hours_info_all_wrap>ul.title li:nth-of-type(2){
  background: url(../img/home/weather/weather_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.night .hours_info_all_wrap>ul.title li:nth-of-type(3){
  background: url(../img/home/weather/tem_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.night .hours_info_all_wrap>ul.title li:nth-of-type(4){
  background: url(../img/home/weather/hum_n.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}

.day .hours_info_all_wrap>ul.title li:nth-of-type(1){
  background: url(../img/home/weather/time_d.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.day .hours_info_all_wrap>ul.title li:nth-of-type(2){
  background: url(../img/home/weather/weather_d.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.day .hours_info_all_wrap>ul.title li:nth-of-type(3){
  background: url(../img/home/weather/tem_d.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}
.day .hours_info_all_wrap>ul.title li:nth-of-type(4){
  background: url(../img/home/weather/hum_d.svg) no-repeat 50% 50% ;
  background-size: 17px 17px;
}

.hours_info_wrap .hours_wrap_inner ul:after{
  content: "";
  display: block;
  clear: both;
}
.hours_info_wrap .hours_wrap_inner ul li.swiper-slide{
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50px;
  margin-right: 14px;
}
.hours_wrap_inner:after{
  content: "";
  display: block;
  clear: both;
}
.hours_info_wrap .hours_wrap_inner ul li.end-day{
  font-size: 1.4rem;
  width: auto;
  white-space: nowrap;
  padding: 6px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: scale(0.8);
}
.hours_info_wrap .hours_wrap_inner ul li img{
  width: 34px;
  height: 34px;
}
.hours_info_wrap .hours_wrap_inner ul li p{
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.hours_info_wrap .hours_wrap_inner ul li p:nth-of-type(1){
  font-size: 1.2rem;
  font-family: 'NotoSansKR-Regular';
}
.hours_info_wrap .hours_wrap_inner ul li p:nth-of-type(2){
  font-size: 1.4rem;
  font-family: 'NotoSansKR-Regular';
}
.hours_info_wrap .hours_wrap_inner ul li p:nth-of-type(3){
  font-size: 1.4rem;
  font-family: 'NotoSansKR-Regular';
  position: relative;
  left: -2px;
}
.hours_info_wrap .hours_wrap_inner ul li p:nth-of-type(3):after{
  position: absolute;
  content: "%";
  display: block;
  right: -6px;
  top: 0;
  font-size: 1rem;
  -webkit-transform: scale(0.95);
}
.hours_info_wrap .hours_wrap_inner ul li:last-of-type{
  margin-right: 0;
}
.mid-tem,
.small-tem{
  position: relative;
}
.mid-tem{
  left: -2px;
}
.mid-tem:after{
  position: absolute;
  content: "℃";
  display: block;
  right: -12px;
  top: 0;
  font-size: 1rem;
  -webkit-transform: scale(0.95);
}
.mid-tem:after{
  right: -6px;
  -webkit-transform: scale(1);
}
.small-tem:after{
  right: -6px;
  -webkit-transform: scale(0.85);
}
@media screen and (max-width:350px){
  .today-weather_wrap>dl dt{
    font-size: 2.6rem;
  }
  .today-weather_wrap>dl dd .weather{
    font-size: 2.4rem;
  }
  .weather_img{
    width: 110px;
    height: 110px;
  }
  .today-weather_wrap>dl dd .weather_temper>span{
    font-size: 4.6rem;
  }
  .today-weather_wrap>dl dd .weather_temper ul li{
    font-size: 1.2rem;
  }
  .daily-weather_wrap>ul>li>dl>dd{
    width: 58%;
  }
}