.complete_wrap{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 28px 40px;
}

.complete_wrap h1{
    text-align: center;
    font-size: 3rem;
}

.complete_wrap h1 small{
    font-size: 1.6rem;
    font-family: $global-font-Regular; 
}

.complete_table{
    margin-top: 30px;
}

.complete_table dl:after{
    content: "";
    display: block;
    clear: both;
}

.complete_table>dl{
    padding: 20px 0;
    border-top: 1px solid rgb(232, 232, 232);
}

.complete_table>dl:last-of-type{
    border-bottom: 1px solid rgb(232, 232, 232);
}

.complete_table .product_img{
   height: auto;
}

.complete_table .product_img dd .img_box{
   width: 122px;
   height: auto;
}

.complete_table .product_img_wrap>ul{
    display: flex;
}

.complete_table .product_img_wrap>ul .txt_box{
    margin-left: 10px;
}

.complete_table .product_img_wrap>ul .txt_box dt{
    font-family: $global-font-Midium;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.complete_table .product_img_wrap>ul .txt_box dd{
    font-size: 1.4rem;
}

.complete_table .product_img dd .img_box img{
   max-width: 100%;
   height: auto;
}

.complete_table>dl>dt{
    float: left;
    text-align: right;
    width: 50%;
    font-size: 1.5rem;
    font-family: $global-font-Regular;
    color: black;
    padding-right: 15px;
    box-sizing: border-box;
}

.complete_table>dl>dd{
    float: right;
    text-align: left;
    width: 50%;
    font-size: 1.5rem;
    font-family: $global-font-Light;
    padding-left: 15px;
    box-sizing: border-box;
}

.complete_notice{
    text-align: center;
    margin-top: 36px;
    font-size: 1.6rem;
    font-family: $global-font-Light;

}

.complete_footer{
    justify-content: center;
}
.complete_footer{
    justify-content: center;
}

@media screen and (max-width:800px){
    .complete_wrap h1{
        font-size: 2.8rem;
    }
    
    .complete_wrap h1 small{
        font-size: 1.4rem;
    }
    

    .complete_wrap{
        padding: 28px 20px;
    }

    .complete_table>dl>dt{
        float: left;
        text-align: left;
        width: 100%;
        font-size: 1.4rem;
        padding-right: 0px;
        margin-bottom: 15px;
    }
    
    .complete_table>dl>dd{
        float: left;
        text-align: left;
        width: 100%;
        font-size: 1.4rem;
        padding-left: 0px;
    }
    

    .complete_table .product_img dd .img_box{
        min-width: 122px;
        height: auto;
     }

     .complete_notice{
        margin-top: 30px;
        font-size: 1.3rem;
    }
}
