footer{
    width: 100%;
    background-color:  #2d353c;
}

footer .footer_inner{
    width: 70%;
    min-width: 1030px;
    padding: 40px 0;
    margin: 0 auto;
}

footer .footer_inner>ul>li>dl>dt{
    color: white;
    font-size: 1.6rem;
}
footer .footer_inner>ul>li>dl>dd{
    color: white;
    margin-top: 15px;
    font-size: 1.2rem;
}

footer .footer_inner>ul{
    display: flex;
    justify-content: space-between;
}
footer .footer_inner>ul>li{
    width: 25%;
    box-sizing: border-box;
    padding-right: 4%;
}


footer .footer_inner>ul>li:nth-of-type(1) ul li:nth-of-type(2){
    margin-top: 20px;
}
footer .footer_inner>ul>li:nth-of-type(1) ul{
    opacity: 0.6;
}
footer .footer_inner>ul>li:nth-of-type(1) ul li{
    line-height: 20px;
}
footer .footer_inner>ul>li:nth-of-type(2) dl dd li{
   margin-bottom: 10px;
   padding-left: 10px;
   opacity: 0.6;
}
footer .footer_inner>ul>li:nth-of-type(2) dl dd li a{
    color: white;
    font-size: 1.2rem;
    padding-left: 15px;
}
footer .footer_inner>ul>li:nth-of-type(2) dl dd li:hover{
    opacity: 1;
}


footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height:45px;
    align-items: center;
}
footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dd{
    width: 55%;
    font-size: 1.2rem;
}
footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dt{
    width: 40%;
    text-align: center;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dt>img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
}
footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dd{
    color: white;
    font-size: 1.2rem;
}
footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dd>span{
    opacity: 0.6;
    margin-top: 10px;
}

footer .footer_inner>ul>li:nth-of-type(4) dl dd ul li{
    margin-bottom: 20px;
    opacity: 0.6;
    line-height: 23px;
    font-size: 1.2rem;
    
}

.copyright_wrap{
    width: 100%;
    background-color: #1d2226;
    height: 50px;
    line-height: 50px;
}

.copyright_wrap>div{
    width: 70%;
    min-width: 1030px;
    margin: 0 auto;
    color: white;
}

.copyright_wrap>div p{
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: right;
}

@media screen and (max-width:1200px){
    
    footer .footer_inner{
        width: 70%;
        min-width: 960px;
    }
    
    
    .copyright_wrap>div{
        width: 70%;
        min-width: 960px;
    }
    
}

@media screen and (max-width:992px){
    footer .footer_inner{
        width: 90%;
        min-width: 700px;
    }
    
    
    .copyright_wrap>div{
        width: 90%;
        min-width: 700px;
    }
}

@media screen and (max-width:800px){
    footer .footer_inner{
        width: 78%;
        min-width: 350px;
        padding: 20px 0;
    }
    
    
    .copyright_wrap>div{
        width: 90%;
        min-width: 350px;
    }
    .copyright_wrap>div p{
        text-align: center;
    }

    footer .footer_inner>ul{
        flex-direction: column;
    }
    footer .footer_inner>ul>li{
        width: 100%;
        margin-bottom: 20px;
    }
    footer .footer_inner>ul>li:last-of-type{
        margin-bottom: 0px;
    }

    footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dt{
        width: 30%;
        text-align: center;
        background-color: white;
        height: 100px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }
    footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a{
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }
    footer .footer_inner>ul>li:nth-of-type(3)>dl>dd>dl>a>dd{
        width: auto;
        margin-left: 20px;
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 400px){
    footer .footer_inner{
        min-width: 300px;
    }
    .copyright_wrap>div p{
        font-size: 1rem;
    }

    .copyright_wrap>div{
        width: 78%;
        min-width: 300px;
    }
}