.user_greetings{
    font-size: 2.4rem;
    font-family: $global-font-Regular;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(238, 238, 238);
    text-align: center;
}
.user_wrap{
    border-radius: 6px;
    background-color: #fff;
    padding: 35px 0 55px;
    width: 80%;
    margin: 30px auto;
}
.user_wrap ul{
    width: 80%;
    margin: 0 auto;
}

.user_wrap .login_box input{
    display: inline-block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: none;
    caret-color:#2F528F;
}

.user_wrap .login_box input[type=email]{
    padding-left: 15px;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.user_wrap .login_box input[type=password]{
    padding-left: 15px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.user_wrap .login_box input:focus{
    border-bottom: 1px solid #2F528F;
}

.forgot_password li{
    width: 80%;
    margin: 25px auto 0;
    text-align: right;
    font-size: 1.4rem;
    font-family: $global-font-Light;
}

.login_box li:nth-of-type(1){
    font-size: 1.6rem;
    font-family: $global-font-Regular;
}
.login_box li:nth-of-type(3){
    font-size: 1.6rem;
    font-family: $global-font-Regular;
}

.login_box li:nth-of-type(5) input{
    margin-top: 25px;
    background-color: #2F528F;
    border: 1px solid #2F528F;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.login_box li:nth-of-type(5) input:hover{
    background-color: white;
    color: #2F528F;
}

.forgot_password li{
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.user_wrap .login_box li{
    margin: 0 auto 20px;
    width: 80%;
}

.user_wrap .sns_login_wrap{
    width: 63.7%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}

.user_wrap .sns_login_wrap li{
    width: 45%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.user_wrap .sns_login_wrap li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #2F528F;
    border: 1px solid #2F528F;
    color: white;
    font-size: 1.8rem;
}
.user_wrap .sns_login_wrap li a i{
    position: absolute;
    left: 20px;
    top: 50%;-webkit-transform: translateY(-50%);
    font-size: 1.8rem;
}

.user_wrap .sns_login_wrap li a:hover{
    background-color: white;
    color: #2F528F;
}

@media screen and (max-width:992px){
    .user_wrap ul{
        width: 100%;
    }
    .user_wrap .sns_login_wrap{
        width: 80%;
    }
    
}
@media screen and (max-width:800px){
    .login_register_body .sub_main{
        background: #fff;
    }
    .user_greetings{
        border-bottom: none;
    }
    .user_wrap{
        width: 100%;
    }
    .user_wrap .login_box input[type=email]{
        padding-left: 5px;
    }
    .user_wrap .login_box input[type=password]{
        padding-left: 5px;
    }

    .user_wrap .sns_login_wrap li a{
        font-size: 1.4rem;
    }
}
@media screen and (max-width:550px){
    .user_greetings{
        font-size: 1.8rem;
    }
    .user_wrap .sns_login_wrap li a i{
        position: inherit;
        -webkit-transform: translateY(0);
        margin-right: 10px;
    }
}