.account_wrap{
    width: 100%;
    height: auto;
    display: flex;
}

.account_wrap:after{
    content: "";
    display: block;
    clear: both;
}

.account_wrap .account_notice{
    position: relative;
    width: 30%;
    box-sizing: border-box;
    padding: 30px 25px;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
}

.account_wrap .account_body{
    background-color: white;
    width: 70%;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 0 6px 6px 0;
}

.account_wrap .account_notice .background_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.account_wrap .account_notice .background_box::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(45,53,60,.9);
    width: 100%;
    height: 100%;
}

.account_wrap .account_notice .background_box img{
    max-height: 100%;
    position: absolute;
    left: -50%;
}

.account_wrap .account_notice dl{
    position: relative;
    z-index: 5;
}

.account_wrap .account_notice dt{
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.account_wrap .account_notice dd{
    font-size: 1.4rem;
    margin: 15px auto;
    line-height: 1.5;
    color: rgba(255,255,255,.75);
    font-family: $global-font-Regular;
}

.account_body:after{
    content: "";
    display: block;
    clear: both;
}

.account_body .account_inner{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 20px;
}

.account_body .account_inner dl dt{
    font-size: 2rem;
    margin-bottom: 18px;
}

.account_body .account_inner dl dt i{
    color: #2F528F;
    margin-right: 6px;
}

.account_body .account_inner dl dd{
    font-size: 1.5rem;
    font-family: $global-font-Regular;
    margin-bottom:10px;
}

.account_body .account_inner dl dd:hover{
    text-decoration: underline;
}

.account_body .account_inner dl dd a:hover{
    color: #2F528F;
}

.account_body .account_inner dl dd:last-of-type{
    margin-bottom: 18px;
}
@media screen and (max-width:1200px){
    .account_body .account_inner dl dt{
        font-size: 1.8rem;
        margin-bottom: 16px;
    }

    .account_body .account_inner dl dd{
        font-size: 1.4rem;
        font-family: $global-font-Regular;
        margin-bottom:10px;
    }
}

@media screen and (max-width:992px){
    .account_wrap{
        display: block;
    }

    .account_wrap .account_notice{
        width: 100%;
        padding: 20px 25px;
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        float: left;
    }

    .account_wrap .account_body{
        background-color: white;
        width: 100%;
        padding: 25px 25px;
        border-radius: 0 0 6px 6px;
        float: left;
    }

    .account_wrap .account_notice .background_box img{
        max-height: inherit;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .account_wrap .account_notice dd{
        margin: 5px auto;
    }

}

@media screen and (max-width:800px){
    .account_body .account_inner{
        width: 100%;
        padding-right: 0px;
    }
    .account_body .account_inner dl{
        margin-bottom: 30px;
    }
    .account_body .account_inner:last-of-type dl:last-of-type{
        margin-bottom: 0px;
    }
    
}

