.service_header{position: fixed;
                z-index: 1;
                width: 100%;
                 height: 120px;
                background: #1991F8;}

.service_header h2{
                   color: white;
                   text-align: center;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: 'Noto Sans CJK KR';
                    padding-top: 58px;
                    }
.service_header a{display: block;
                  position: absolute;
                  left: 24px;
                  top: 69px;
                  background: url(../images/service_img/arrow.png) no-repeat 0 0%;
                  width: 10px;
                  height: 17px;
                  }


.service_box_all{position: relative;
                 top: 120px;
                 padding: 0 20px 70px;
                 box-sizing: border-box;
                 padding-top: 34px;
                 font-size: 12px;
                }

.service_message span.logo{background: url(../images/service_img/logo.png) no-repeat 0 0;
                            width: 33px;
                            height: 33px;
                            display: inline-block;
                            position: absolute;
                            top: -30px;

                            }

.service_box_all .service_message{position: relative;
                                  opacity: 0;left: -20px;
                                  display: flex;
                                  justify-content: flex-start;
                                    align-items: flex-end;
                                    margin-bottom: 28px;}



.service_message span:nth-of-type(2){background: #67B6FB
                                     ;box-shadow: 0 3px 6px rgba(100, 100, 100, 0.2)
                                     ;display: inline-block
                                     ;padding: 12px
                                     ;color: white
                                     ;font-family: 'Noto Sans CJK KR DemiLight'
                                     ;border-radius: 0 23px 23px 23px;
                                     margin-left: 35px;
                                     }
.service_message span:nth-of-type(3){font-size: 10px;
                                     color: #757D8F;
                                     margin-left: 5px;}

.service_box_all .my_message{
                             position: relative;
                             right: -20px;opacity: 0;
                             display: flex;
                             justify-content: flex-end;
                             align-items: flex-end;
                             margin-bottom: 28px;}

.my_message span:nth-of-type(2){background: #f3f3f3
                                ;box-shadow: 0 3px 6px rgba(100, 100, 100, 0.2)
                                ;display: inline-block
                                ;padding: 12px
                                ;color: #606060
                                ;font-family: 'Noto Sans CJK KR DemiLight'
                                ;border-radius: 23px 0 23px 23px;
                                }
.my_message span:nth-of-type(1){font-size: 10px;
                                color: #757D8F;
                                margin-right: 5px;}
            

.service_box_all span.date{ opacity: 0;
                            display: block;
                            font-size: 10px;
                            color: #fff;
                            width: 102px;
                            height: 10px;
                            line-height: 10px;
                            padding: 6px 10px;
                            border-radius: 25px;
                            margin: 0 auto 28px;
                            background: #C7C7C7;
                            }

.message_box{position: fixed;
             bottom: 0;
             left: 0;
             height: 94px;
             width: 100%;
             padding: 22px 20px;
             box-sizing: border-box;
             display: flex;
             justify-content: space-between;}
.message_box span{background: url(../images/service_img/send.png) no-repeat 0 0;
                  width: 48px;
                  height: 48px;
                  cursor: pointer;}
.message_box input{position: relative;
                  background: #fff url(../images/service_img/voice.png) no-repeat 97% 50%; 
                   border-radius: 9px;
                   border: 1px solid #DCDADA;
                    width: 82%;
                    padding-left: 10px;
                    box-sizing: border-box;
                    outline: none;}



@keyframes service{
    from{opacity: 0;left: -20px;}
    to{opacity: 1;left: 0;}
}
@keyframes date{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes my{
    from{opacity: 0;right: -20px;}
    to{opacity: 1;right: 0px;}
}

.service_box_all .service_message:nth-of-type(1){
                                                animation: service 0.5s linear 0.5s forwards;}

.service_box_all span.date:nth-of-type(1){
                                          animation: date 0.5s linear 1.3s forwards;}

.service_box_all .my_message.one{opacity: 0;right: -20px;
                                          animation: my 0.5s linear 2.1s forwards;}

.service_box_all .service_message.two{animation: service 0.5s linear 2.7s forwards;}
.service_box_all .service_message.three{animation: service 0.5s linear 3.3s forwards;}
.service_box_all .my_message.four{animation: my 0.5s linear 4s forwards;}

.service_box_all span.date:nth-of-type(2){
                                         animation: date 0.5s linear 4.8s forwards;}

.service_box_all .service_message.six{animation: service 0.5s linear 5.6s forwards;}


 



