body,
html {
  color: #333;
  font-size: 10px;
  /* scroll-behavior: smooth; */
}
body {
  overflow-y: hidden;
}
@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #dee2e5;
  }
  body::-webkit-scrollbar-thumb {
    width: 90px;
    border: 1px solid #9e9e9e;
    background-clip: padding-box;
    border: 3px solid transparent;
    background-color: #9ea5b8;
    border-radius: 10px;
  }
}
