body,
html {
  color: #333;
  font-size: 10px;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #dee2e5;
}
body::-webkit-scrollbar-thumb {
  width: 90px;
  border: 1px solid #9e9e9e;
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: #9ea5b8;
  border-radius: 10px;
}
body.pcscroll__none {
  overflow-y: hidden;
}
.subpage__main {
  margin-top: 80px;
}
.subpage__main > .subpage__title__section {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
@keyframes filterAni {
  0% {
    width: 25%;
  }
  100% {
    width: 0;
  }
}
.subpage__main > .subpage__title__section > .filter {
  -webkit-animation: filterAni 0.5s ease-in-out 0.3s forwards;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
}
.subpage__main > .subpage__title__section > .filter:nth-of-type(2) {
  left: 25%;
}
.subpage__main > .subpage__title__section > .filter:nth-of-type(3) {
  left: 50%;
}
.subpage__main > .subpage__title__section > .filter:nth-of-type(4) {
  left: 75%;
}
.subpage__main > .subpage__inner {
  width: 80%;
  margin: 0 auto;
  min-width: 990px;
}
.subpage__main > .subpage__inner nav {
  position: relative;
  z-index: 3;
}
.subpage__main > .subpage__inner nav ul.sub__page__nav {
  display: flex;
  justify-content: center;
  margin-top: -38px;
}
.subpage__main > .subpage__inner nav ul.sub__page__nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  background: white;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;
}
.subpage__main > .subpage__inner nav ul.sub__page__nav li:last-of-type {
  border-right: 1px solid #ececec;
}
.subpage__main > .subpage__inner nav ul.sub__page__nav li.on span {
  color: white;
  background: linear-gradient(to right, #4d4fa2 0%, #161890 100%);
  box-shadow: 0 8px 16px rgb(13 15 116 / 30%);
}
.subpage__main > .subpage__inner nav ul.sub__page__nav li span {
  font-size: 1.6rem;
  height: 76px;
  line-height: 76px;
  width: 190px;
  text-align: center;
  display: inline-block;
  color: #323232;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.subpage__main > .subpage__title__section::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.subpage__main > .subpage__title__section > .inner {
  position: relative;
  width: calc(100% - 200px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  overflow: hidden;
}
@keyframes textMoving {
  0% {
    left: -80px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
.subpage__main > .subpage__title__section > .inner > h2 {
  font-size: 4.8rem;
  position: relative;
  opacity: 0;
  -webkit-animation: textMoving 0.8s ease-in-out 0.8s forwards;
}
.subpage__main > .subpage__title__section > .inner > p {
  font-size: 3.6rem;
  text-align: left;
  margin-top: 20px;
  position: relative;
  opacity: 0;
  -webkit-animation: textMoving 0.8s ease-in-out 1.2s forwards;
}
@keyframes imgScale {
  0% {
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  }
  100% {
    -webkit-transform: scale(1.05) translateX(-50%) translateY(-50%);
    top: 52%;
    left: 52%;
  }
}
.subpage__main > .subpage__title__section > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  min-height: 650px;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: imgScale 1s ease-in-out 0.6s forwards;
}
.subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt {
  font-size: 4rem;
  text-align: center;
  margin-top: 100px;
}
.subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt h3 {
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 3px solid #0054cb;
}
.subpage__main > .subpage__inner .swipe_info_wrap > h4 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15px;
  opacity: 0.6;
  line-height: 1.62;
}
.subpage__main > .subpage__inner .swipe_info_wrap > .subpage__content {
  margin: 40px 0 80px;
}
@media screen and (max-width: 990px) {
  body.pcscroll__none {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .subpage__main > .subpage__title__section > .inner {
    width: calc(100% - 40px);
  }
  .subpage__main > .subpage__title__section > .inner > h2 {
    font-size: 4rem;
  }
  .subpage__main > .subpage__title__section > .inner > p {
    font-size: 2.4rem;
  }
  .subpage__main > .subpage__title__section {
    height: 550px;
  }
  .subpage__main > .subpage__title__section > img {
    min-height: 550px;
  }
  .subpage__main > .subpage__inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    min-width: auto;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav {
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 0 auto 0;
    border-radius: 6px;
    box-shadow: 0 39px 67px 3px hsl(0deg 0% 68% / 30%);
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li {
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid rgb(250, 250, 250);
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:first-of-type {
    border-top: none;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:last-of-type {
    border-right: none;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li span {
    height: 68px;
    line-height: 68px;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li span {
    width: 100%;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:first-of-type {
    border-radius: 6px 6px 0 0;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:last-of-type {
    border-radius: 0px 0px 6px 6px;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li.list__one {
    border-radius: 6px;
    border-top: none;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:last-of-type span {
    border-radius: 0px 0px 6px 6px;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li:first-of-type span {
    border-radius: 6px 6px 0 0;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li.list__one span {
    border-radius: 6px;
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt {
    margin-top: 60px;
  }
  .subpage__main > .subpage__inner nav {
    -webkit-transform: translateY(-50%);
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt {
    margin-top: 0px;
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt {
    font-size: 3.4rem;
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #0054cb;
  }
}
@media screen and (max-width: 550px) {
  .subpage__main > .subpage__inner nav ul.sub__page__nav {
    width: 300px;
  }
  .subpage__main > .subpage__title__section > .inner > h2 {
    font-size: 3.6rem;
  }
  .subpage__main > .subpage__title__section > .inner > p {
    font-size: 2rem;
  }
  .subpage__main > .subpage__inner nav ul.sub__page__nav li span {
    height: 56px;
    line-height: 56px;
    font-size: 1.4rem;
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > .sub__tilte__txt {
    font-size: 3rem;
  }
  .subpage__main > .subpage__inner .swipe_info_wrap > h4 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  .subpage__main > .subpage__inner nav ul.sub__page__nav {
    width: 100%;
  }
}
