footer {
  background: #363636;
  color: white;
  padding: 20px 0;
}
footer .footer__inner {
  width: 80%;
  min-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__inner img {
  width: 130px;
  height: 38px;
}
footer .footer__inner dl{
  display: flex;
}
footer .footer__inner .inner__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.3rem;
  opacity: 0.7;
}
footer .footer__inner .inner__right .right__bottom{
  display: flex;
  margin-top: 8px;
}
footer .footer__inner .inner__right .right__bottom dl{
  margin-left: 18px;
}
footer .footer__inner .inner__right .right__bottom dl:first-of-type{
  margin-left: 0px;
}
footer .footer__inner .inner__right .right__top{
  display: flex;
}
footer .footer__inner .inner__right .right__top dl{
  margin-left: 18px;
}
footer .footer__inner .inner__left p{
  font-size: 1.3rem;
  margin-top: 8px;
  opacity: 0.8;
}
@media screen and (max-width: 1480px) {
  footer .footer__inner {
    min-width: 1240px;
  }
}
@media screen and (max-width: 1380px) {
  footer .footer__inner {
    min-width: 940px;
  }
}
@media screen and (max-width: 990px) {
  footer .footer__inner {
    min-width: auto;
    width: 90%;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
  }
  footer .footer__inner .inner__left{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
  }
  footer .footer__inner .inner__right {
    align-items: center;
  }
  footer .footer__inner .inner__right .right__top {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__inner .inner__right .right__bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }
  footer .footer__inner .inner__right .right__top dl {
    margin-left: 0px;
    padding-top: 14px;
    border-top: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    justify-content: center;
  }
  footer .footer__inner .inner__right .right__top p{
    margin-bottom: 14px;
  }
  footer .footer__inner .inner__right .right__bottom dl {
    margin-left: 0px;
    margin-bottom: 8px;
  }
  footer .footer__inner .inner__right .right__bottom dl:last-of-type{
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 550px) {
  footer {
    height: auto;
  }
  footer .footer__inner .inner__left p{
    font-size: 1.2rem;
  }
  footer .footer__inner .inner__right .right__top p {
    font-size: 1.2rem;
  }
  footer .footer__inner .inner__right .right__top dl {
    font-size: 1.2rem;
  }
  footer .footer__inner .inner__right .right__bottom dl{
    font-size: 1.2rem;
  }
}
