header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  -webkit-transition: all 0.1s linear 0s;
  background: white;
  box-shadow: 0 4px 6px 0 rgb(12 0 46 / 6%);
}
header .header__inner {
  height: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* header .header__inner h1 {
  position: absolute;
  left: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
} */
header .header__inner h1 img {
  width: 130px;
  height: 38px;
}
header .header__inner > nav {
  height: 100%;
  margin-left: 96px;
}
header .header__inner > nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}
header .header__inner > nav > ul > li {
  position: relative;
  height: 100%;
}
header .header__inner > nav > ul > li > a {
  padding: 0 35px;
  font-size: 1.8rem;
  color: #333;
  opacity: 0.5;
  -webkit-transition: all 0.1s linear 0s;
  cursor: pointer;
  display: block;
  height: 100%;
  line-height: 70px;
}
header .header__inner > nav > ul > li:hover > a {
  opacity: 1;
  color: #000270;
}
header .header__inner > nav > ul > li.on > a {
  opacity: 1;
  color: #000270;
}
/* nav submenu */
header .header__inner > nav > ul > li > ul {
  position: absolute;
  left: 50%;
  top: calc(100% - 3.5px);
  -webkit-transform: translateX(-50%);
  -webkit-transition: all 0.15s ease-in 0s;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  height: 0;
}
header .header__inner > nav > ul > li > ul li a {
  padding: 0px 16px;
  font-size: 1.6rem;
  line-height: 0;
  height: 0px;
  background: white;
  display: block;
  min-width: 170px;
  color: rgb(99, 99, 99);
  -webkit-transition: all 0.25s ease-in 0s;
}
header .header__inner > nav > ul > li > ul li {
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in 0s;
}
header .header__inner > nav > ul > li:hover > ul li a {
  height: 50px;
  line-height: 50px;
}
header .header__inner > nav > ul > li:hover ul {
  border-top: 4px solid #000270;
  height: auto;
  box-shadow: 0px 13px 42px 11px rgb(0 0 0 / 8%);
}
header .header__inner > nav > ul > li > ul li a:hover {
  background: #ebebeb;
  color: #000270;
  padding-left: 20px;
}
/* nav submenu */
@media screen and (max-width: 990px) {
  header .header__inner {
    padding: 0 50px;
  }
  header .header__inner > nav {
    position: fixed;
    right: 0;
    top: 80px;
    margin-left: 0px;
    width: 260px;
    height: calc(100vh - 80px);
    background: white;
    z-index: -1;
    box-shadow: -4px 0px 6px 0 rgb(12 0 46 / 6%);
  }
  header .header__inner > nav > ul {
    height: auto;
    flex-direction: column;
  }
  header .header__inner > nav > ul > li {
    width: 100%;
    text-align: right;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
  }
  header .header__inner > nav > ul > li:last-of-type {
    border-bottom: 1px solid #eeeeee;
  }
  header .header__inner > nav > ul > li > a {
    padding: 0 50px 0 35px;
  }
  header .header__inner > nav > ul > li > ul {
    position: unset;
    -webkit-transform: translate(0px);
  }
  header .header__inner > nav > ul > li.on {
    /* background: #f0f0f0; */
    /* border-top: 1px solid #000270; */
  }
  header .header__inner > nav > ul > li > a {
    font-size: 1.6rem;
  }
}
