.subpage__content #map {
  width: 100%;
  height: 300px;
}
#map .inner {
  padding: 10px;
}
#map .inner h3 {
  font-size: 1.6rem;
  margin-bottom: 4px;
}
#map .inner p {
  font-size: 1.3rem;
  margin-bottom: 4px;
}
#map .inner img.logo {
  width: 110px;
  height: 33px;
}
