.container.dashboard section.station__status__box .top {
  padding: 12px 8px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.container.dashboard
  section.station__status__box:nth-of-type(1)
  .section__inner
  > dl {
  --tw-text-opacity: 1;
  color: rgb(33 150 243 / var(--tw-text-opacity));
}

.container.dashboard
  section.station__status__box:nth-of-type(2)
  .section__inner
  > dl {
  --tw-text-opacity: 1;
  color: rgb(244 67 54 / var(--tw-text-opacity));
}

.container.dashboard
  section.station__status__box:nth-of-type(3)
  .section__inner
  > dl {
  --tw-text-opacity: 1;
  color: rgb(255 193 7 / var(--tw-text-opacity));
}

.container.dashboard
  section.station__status__box:nth-of-type(4)
  .section__inner
  > dl {
  --tw-text-opacity: 1;
  color: rgb(76 175 80 / var(--tw-text-opacity));
}

.container.dashboard section.station__status__box > .section__inner > dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8px 12px;
  box-sizing: border-box;
  margin: 14px 0;
  line-height: 1.5;
}

.container.dashboard section.station__status__box > .section__inner > .top > p {
  letter-spacing: -0.025em;
  font-size: 1.1rem;
  padding: 0 16px;
  white-space: nowrap;
  color: rgb(107, 114, 128);
}

.container.dashboard
  section.station__status__box
  > .section__inner
  > .top
  > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 12px;
  font-size: 2.8rem;
}

.container.dashboard
  section.station__status__box
  > .section__inner
  > .top
  > button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.container.dashboard
  section.station__status__box
  > .section__inner
  > .top
  > button
  > svg {
  fill: currentColor;
  color: inherit;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  font-size: 24px;
  line-height: 24;
}

.container.dashboard section.station__status__box > .section__inner > dl dt {
  letter-spacing: -0.025em;
  line-height: 1;
  font-size: 4.4rem;
}

.container.dashboard section.station__status__box > .section__inner > dl dd {
  margin-top: 6px;
}

/* //////////////////////  */

.container.dashboard section.charging__station__status,
.container.dashboard section.user__auth__count {
  grid-column: span 4 / span 4;
}

.container.dashboard section.charging__station__status > .section__inner,
.container.dashboard section.user__auth__count > .section__inner {
  box-sizing: border-box;
  padding: 24px;
}

.container.dashboard
  section.charging__station__status
  > .section__inner
  > .top
  label {
  padding: 0 14px;
  margin-left: 16px;
  font-weight: 400;
  color: rgb(17, 24, 39);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  line-height: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.container.dashboard
  section.charging__station__status
  > .section__inner
  > .top
  label:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.container.dashboard
  section.charging__station__status
  > .section__inner
  > .map {
  height: 320px;
  margin-top: 24px;
  outline: none;
  border: none;
}

.container.dashboard
  section.charging__station__status
  > .section__inner
  #map
  .inner {
  padding: 10px;
}
.container.dashboard
  section.charging__station__status
  > .section__inner
  #map
  .inner
  h3 {
  font-size: 1rem;
  margin-bottom: 4px;
}

.container.dashboard
  section.charging__station__status
  > .section__inner
  #map
  .inner
  p {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.container.dashboard section.user__auth__count > .section__inner > .wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  margin-top: 16px;
  gap: 2.4rem;
  grid-auto-flow: row;
}
.container.dashboard
  section.user__auth__count
  > .section__inner
  > .wrap
  > #chart {
  min-height: 335px;
}

.container.dashboard
  section.user__auth__count
  > .section__inner
  > .wrap
  > .flex__box {
  flex: 1 1 auto;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}
.container.dashboard
  section.user__auth__count
  > .section__inner
  > .wrap
  > .flex__box
  .item {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-column: span 1 / span 1;
  background-color: rgb(246, 249, 251);
}
.container.dashboard
  section.user__auth__count
  > .section__inner
  > .wrap
  > .flex__box
  .item
  > p:first-of-type {
  font-size: 3.4rem;
}
.container.dashboard
  section.user__auth__count
  > .section__inner
  > .wrap
  > .flex__box
  .item.today {
  --tw-text-opacity: 1;
  color: rgb(40 53 147 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(232 234 246 / var(--tw-bg-opacity));
  grid-column: span 2 / span 2;
}
.container.dashboard section.top10__list {
  grid-column: span 2 / span 2;
}
.container.dashboard section.top10__list > .section__inner {
  box-sizing: border-box;
  padding: 24px;
  overflow: hidden;
}
.container.dashboard section.top10__list > .section__inner > .common__grid {
  margin-top: 24px;
}
.container.dashboard section.top10__list > .section__inner > .top label {
  padding: 0 14px;
  margin-left: 16px;
  font-weight: 400;
  color: rgb(17, 24, 39);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  min-height: 40px;
  line-height: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
@media (max-width: 1280px) {
  .container.dashboard section.user__auth__count > .section__inner > .wrap {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
}
@media (max-width: 960px) {
  .container.dashboard section.charging__station__status,
  .container.dashboard section.user__auth__count {
    grid-column: span 2 / span 2;
  }
  .container.dashboard section.station__status__box > .section__inner > dl {
    margin: 14px 0 0;
  }
}
@media (max-width: 660px) {
  .container.dashboard section.charging__station__status,
  .container.dashboard section.user__auth__count {
    grid-column: unset;
  }
  .container.dashboard
    section.user__auth__count
    > .section__inner
    > .wrap
    > .flex__box
    .item {
    grid-column: span 2 / span 2;
  }
  .container.dashboard section.top10__list {
    grid-column: unset;
  }
}
