/* common */
@import url(./reset.css);
@import url(./nav.css);
@import url(./common.css);
/* // common */
/* pages */
@import url(./dashboard.css);
/* // pages */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  font-family: Inter var, "Roboto", Helvetica Neue, Arial, sans-serif;
}

body {
  background: rgb(241, 245, 249);
  color: rgb(17, 24, 39);
  font-family: "Inter var", "Roboto", Helvetica, Arial, sans-serif;
  font-feature-settings: "salt";
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: auto
}

.layout {
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
}

.f__bold {
  font-weight: 800;
}

.f__medium {
  font-weight: 600;
}