/* common */
@import url(./reset.css);
@import url(./common.css);
@import url(./nav.css);
@import url(./header.css);
/* // common */
/* pages */
@import url(./dashboard.css);
/* // pages */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  font-family: Inter var, "Roboto", Helvetica Neue, Arial, sans-serif;
}

body {
  background: rgb(241, 245, 249);
  color: rgb(17, 24, 39);
  font-family: "Inter var", "Roboto", Helvetica, Arial, sans-serif;
  font-feature-settings: "salt";
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: auto;
}

/* main layout */
main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100%;
  z-index: 10;
  position: relative;
  min-width: 0;
}

#layout {
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
}

main > .container {
  max-width: 1570px;
  width: 100%;
  margin: 0px auto;
  padding: 24px 12px 12px;
  box-sizing: border-box;
}

.section__grid__wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  padding: 24px;
}

.section__grid__wrap > section > .section__inner {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 24, 39);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.section__grid__wrap > section > .section__inner > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__grid__wrap > section > .section__inner > .top > .normal__title {
  font-size: 1.1rem;
  color: rgb(107, 114, 128);
}

/* // main layout */

.f__bold {
  font-weight: 800;
}

.f__medium {
  font-weight: 600;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  display: none;
}

@media (max-width: 1200px) {
  .main__nav + .modal__bg {
    display: block;
  }

  .main__nav.hide + .modal__bg {
    display: none;
  }
}

@media (max-width: 960px) {
  .section__grid__wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .section__grid__wrap {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
