header {
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: calc(100% - 250px);
  left: 250px;
  top: 0;
  background: white;
  -webkit-transition: all 0.25s ease-in-out 0s;
  z-index: 10;
}
header.active {
  width: 100%;
  left: 0;
}
header .header__inner {
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
header.active .header__inner .menu__btn:after {
  -webkit-transform: translateY(-50%) rotateY(180deg);
}
header .header__inner .menu__btn:after {
  -webkit-perspective: 1000px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  opacity: 0.65;
  content: 'â†';
  line-height: 30px;
  color: #2b3450;
  font-size: 1.4em;
  font-family: 'Open Sans';
  font-weight: 700;
  display: block;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateY(0deg);
  width: 30px;
  height: 30px;
}
header .header__inner .menu__btn {
  opacity: 0.6;
  padding: 0;
  margin: 0;
  position: relative;
}
header .header__inner .menu__btn span {
  display: block;
  width: 26px;
  height: 3.7px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #2b3450;
  -webkit-transition: all 0.2s linear 0s;
}
header .header__inner .menu__btn span:last-of-type {
  margin-bottom: 0px;
}
header .header__inner > .user__wrap > li {
  margin-right: 18px;
  position: relative;
  height: 60px;
}
header .header__inner > .user__wrap > li.langauge {
  display: flex;
  align-items: center;
}
header .header__inner > .user__wrap > li.langauge:hover .lang__list {
  top: 40px;
  -webkit-transform: scale(1);
  opacity: 1;
}
header .header__inner .user__wrap li.notice:hover .notice__box {
  top: 40px;
  -webkit-transform: scale(1);
  opacity: 1;
}
header .header__inner > .user__wrap > li.admin__info:hover .user__menu {
  top: 40px;
  -webkit-transform: scale(1);
  opacity: 1;
}
header .header__inner > .user__wrap > li.admin__info .user__menu {
  position: absolute;
  top: 40px;
  left: 0px;
  -webkit-transform-origin: 100% 0;
  background: #fff;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  border-radius: 6px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -webkit-transform: scale(0);
  opacity: 0;
}
header .header__inner .user__wrap .notice .notice__box {
  position: absolute;
  left: -280px;
  top: 40px;
  border-radius: 6px;
  -webkit-transform-origin: 100% 0;
  background: white;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  min-width: 300px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -webkit-transform: scale(0);
  opacity: 0;
}
header .header__inner .user__wrap .langauge .lang__list {
  position: absolute;
  top: 40px;
  left: -50%;
  border-radius: 6px;
  background: white;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  -webkit-transform-origin: 100% 0;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -webkit-transform: scale(0);
  opacity: 0;
}
header .header__inner > .user__wrap > li:last-of-type {
  margin-right: 0px;
}

header .header__inner > .user__wrap > li.admin__info .user__menu li a {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.4em;
}
header .header__inner > .user__wrap > li.admin__info .user__menu li a:hover,
header
  .header__inner
  > .user__wrap
  > li.admin__info
  .user__menu
  form
  input:hover {
  background-color: #f6f6f6;
}
header .header__inner > .user__wrap > li.admin__info .user__menu form input {
  display: block;
  padding: 14px 0;
  width: 100%;
  border: none;
  background: white;
  cursor: pointer;
  border-radius: 0 0 6px 6px;
}
header .header__inner > .user__wrap > li.admin__info .user__menu li a .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: red;
  margin-right: 10px;
}
header .header__inner .user__wrap {
  display: flex;
  align-items: center;
  height: 60px;
}

header .header__inner .user__wrap .langauge .lang__list ul li {
  padding: 14px 20px;
  cursor: pointer;
}
header .header__inner .user__wrap .langauge .lang__list ul li:first-of-type {
  border-radius: 6px 6px 0 0;
}
header .header__inner .user__wrap .langauge .lang__list ul li:last-of-type {
  border-radius: 0 0 6px 6px;
}
header .header__inner .user__wrap .langauge .lang__list ul li:hover {
  background: #f6f6f6;
}
header .header__inner .user__wrap .langauge .lang__list ul li:last-of-type {
  margin-bottom: 0px;
}
header .header__inner .user__wrap .langauge .lang__list ul li dt img {
  width: 28px;
  height: 19px;
}
header .header__inner .user__wrap .langauge .lang__list ul li dd {
  color: #757575;
  margin-left: 8px;
  font-size: 1.2em;
}
header .header__inner .user__wrap .langauge .lang__list ul li dl {
  display: flex;
  align-items: center;
}
header .header__inner .user__wrap .langauge img {
  width: 38px;
  height: 25px;
}
header .header__inner .user__wrap .langauge .base__lang dl {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header__inner .user__wrap .langauge .base__lang dl dd {
  font-size: 1.4em;
  color: #757575;
  margin-left: 10px;
}
header .header__inner .user__wrap .notice {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .header__inner .user__wrap .notice .icon {
  width: 20px;
  height: 24px;
  display: inline-block;
  background: url(../img//nav/bell.png) no-repeat 0 0;
  background-size: cover;
}
header .header__inner .user__wrap .notice .num {
  position: absolute;
  right: -8px;
  top: 5px;
  background: #f65a5a;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 1.2em;
}

header .header__inner .user__wrap .notice .notice__box li a {
  display: block;
  padding: 14px 14px;
}
header .header__inner .user__wrap .notice .notice__box li a:hover {
  background: #f6f6f6;
}
header .header__inner .user__wrap .notice .notice__box > ul {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
header .header__inner .user__wrap .notice .notice__box > a {
  font-size: 1.4em;
  box-sizing: border-box;
  text-align: center;
  display: block;
  padding: 10px 0 10px;
  color: #4f98d8;
  border-top: 1px solid rgb(240, 240, 240);
  border-radius: 0 0 6px 6px;
}
header .header__inner .user__wrap .notice .notice__box > a:hover {
  background: #f6f6f6;
}
header .header__inner .user__wrap .notice .notice__box > ul::-webkit-scrollbar {
  width: 9px;
  background-color: #dee2e5;
}
header
  .header__inner
  .user__wrap
  .notice
  .notice__box
  > ul::-webkit-scrollbar-thumb {
  border: 3px solid #dee2e5;
  background-color: #9ea5b8;
  border-radius: 10px;
}
header .header__inner .user__wrap .notice .notice__box h5 {
  font-size: 1.4em;
  box-sizing: border-box;
  padding: 10px 0 10px 14px;
  border-bottom: 1px solid rgb(240, 240, 240);
  border-radius: 6px 6px 0 0;
}
header .header__inner .user__wrap .notice .notice__box dt {
  color: #6180a1;
  font-size: 1.4em;
}
header .header__inner .user__wrap .notice .notice__box dd {
  font-size: 1.3em;
  color: #495057;
  opacity: 0.8;
}
header .header__inner .user__wrap .notice .notice__box dd .content {
  margin: 7px 0 4px;
}
header .header__inner .user__wrap .admin__info > dl {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
}
header .header__inner .user__wrap .admin__info .icon img {
  width: 26px;
  height: 26px;
}
header .header__inner .user__wrap .admin__info > dl > dd .txt {
  font-size: 1.4em;
  color: #828282;
  margin-left: 7px;
}
header .header__inner .user__wrap .admin__info > dl > dd .arrow {
  background: url(../img/nav/arrow_hd.png) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 7px;
}
@media screen and (max-width: 990px) {
  header {
    width: 100%;
    left: 0;
  }
  header .header__inner .menu__btn:after {
    content: none;
  }
  header .header__inner .user__wrap .notice .notice__box {
    left: -150px;
  }
}
@media screen and (max-width: 550px) {
  header .header__inner {
    padding: 0 14px;
  }
  header .header__inner .user__wrap .langauge .lang__list {
    left: 0;
    -webkit-transform-origin: 0 0;
  }
  header .header__inner .user__wrap .notice .notice__box {
    left: -150px;
    -webkit-transform-origin: 50% 0;
  }
  header .header__inner > .user__wrap > li {
    margin-right: 12px;
  }
  header .header__inner .user__wrap .langauge img {
    width: 28px;
    height: 19px;
  }
  header .header__inner .user__wrap .langauge .base__lang dl dd {
    font-size: 1.2em;
  }
  header .header__inner .user__wrap .langauge .base__lang dl dd {
    margin-left: 6px;
  }
  header .header__inner .user__wrap .notice .icon {
    width: 15px;
    height: 20px;
  }
  header .header__inner .user__wrap .admin__info .icon img {
    width: 20px;
    height: 20px;
  }
  header .header__inner .user__wrap .admin__info > dl > dd .txt {
    font-size: 1.2em;
  }
  header .header__inner > .user__wrap > li.admin__info .user__menu li a {
    font-size: 1.2em;
  }
  header .header__inner > .user__wrap > li.admin__info .user__menu li a {
    padding: 14px;
  }
  header .header__inner > .user__wrap > li.admin__info .user__menu li a .icon {
    width: 20px;
    height: 20px;
  }
  header .header__inner .user__wrap .notice .notice__box h5 {
    font-size: 1.3em;
  }
  header .header__inner .user__wrap .notice .notice__box dt {
    font-size: 1.3em;
  }
  header .header__inner .user__wrap .notice .notice__box dd {
    font-size: 1.2em;
  }
}
