nav {
  background: #2a3042;
  width: 250px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out 0s;
}
nav.active {
  left: -250px;
  width: 0px;
}
nav .nav__inner {
  max-height: 100vh;
}
nav .nav__inner::-webkit-scrollbar {
  width: 10px;
  background-color: #dee2e5;
}
nav .nav__inner::-webkit-scrollbar-thumb {
  width: 90px;
  border: 1px solid #9e9e9e;
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: #9ea5b8;
  border-radius: 10px;
}
nav::-webkit-scrollbar {
  width: 10px;
  background-color: #dee2e5;
}
nav::-webkit-scrollbar-thumb {
  width: 90px;
  border: 1px solid #9e9e9e;
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: #9ea5b8;
  border-radius: 10px;
}
nav h1 {
  width: 250px;
  height: 60px;
  line-height: 60px;
  padding-left: 36px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
nav h1 img {
  width: 128px;
  height: 33px;
}
nav .navigation > li {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav .navigation > li > span {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 66px;
  display: inline-block;
  font-size: 1.5em;
  color: #8ca1c7;
  position: relative;
  cursor: pointer;
}
nav .navigation > li:hover {
  background: #2b3450;
}
nav .navigation > li.on {
  background: #2b3450;
}
nav .navigation > li:hover > a {
  color: white;
}
nav .navigation > li.on > a {
  color: white;
}
nav .navigation > li.active {
  background: #2b3450;
}
nav .navigation > li.active > a {
  color: white;
}
nav .navigation > li > span:after {
  content: '';
  position: absolute;
  right: 37px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  background: url(../img/nav/arrow.png) no-repeat 0 0;
  width: 13px;
  height: 7px;
  opacity: 0.6;
  -webkit-transition: all 0.15s linear 0s;
}
nav .navigation > li.on > span:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  opacity: 1;
}
nav .navigation > li > ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out 0s;
  height: 0px;
}
nav .navigation > li.on > ul.length1 {
  height: 52px;
}
nav .navigation > li.on > ul.length2 {
  height: 104px;
}
nav .navigation > li.on > ul.length3 {
  height: 156px;
}
nav .navigation > li.on > ul.length4 {
  height: 208px;
}
nav .navigation > li.on > ul.length5 {
  height: 260px;
}
nav .navigation > li.on > ul.length6 {
  height: 312px;
}
nav .navigation > li > ul > li > a {
  box-sizing: border-box;
  display: block;
  padding-left: 66px;
  height: 52px;
  line-height: 52px;
  font-size: 1.4em;
  color: #73798b;
}
nav .navigation > li > ul > li > a:hover {
  color: white;
  background: rgb(58, 67, 92);
}
nav .navigation > li > ul > li > a.nuxt-link-exact-active {
  color: white;
  background: rgb(58, 67, 92);
}
/* nuxt-link-exact-active */
nav .navigation > li:first-of-type > span {
  background: url(../img/nav/ic_1_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(2) > span {
  background: url(../img/nav/ic_2_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(3) > span {
  background: url(../img/nav/ic_3_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(4) > span {
  background: url(../img/nav/ic_4_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(5) > span {
  background: url(../img/nav/ic_5_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(6) > span {
  background: url(../img/nav/ic_6_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li:nth-of-type(7) > span {
  background: url(../img/nav/ic_7_off.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:first-of-type > span {
  background: url(../img/nav/ic_1_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(2) > span {
  background: url(../img/nav/ic_2_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(3) > span {
  background: url(../img/nav/ic_3_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(4) > span {
  background: url(../img/nav/ic_4_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(5) > span {
  background: url(../img/nav/ic_5_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(6) > span {
  background: url(../img/nav/ic_6_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
nav .navigation > li.on:nth-of-type(7) > span {
  background: url(../img/nav/ic_7_on.png) no-repeat 36px 50%;
  background-size: 19px 19px;
}
@media screen and (max-width: 990px) {
  nav {
    position: fixed;
    left: -250px;
    top: 0;
    float: none;
    z-index: 15;
  }
  nav.active {
    left: 0;
    width: 250px;
    box-shadow: 4px 0px 8px rgb(0 0 0 / 36%);
  }
}
