.contact__section article .contact__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__section article .contact__wrap .map__wrap {
  width: 50%;
  display: flex;
  justify-content: center;
}
.contact__section article .contact__wrap .map__wrap #map {
  width: 460px;
  height: 460px;
}
.contact__section article .contact__wrap > ul {
  width: 42%;
}
.contact__section article .contact__wrap > ul li {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.contact__section article .contact__wrap > ul li:last-of-type {
  margin-bottom: 0px;
}
.contact__section article .contact__wrap > ul .icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  margin-right: 26px;
}
.contact__section article .contact__wrap > ul li {
  font-size: 2rem;
}
.contact__section article .contact__wrap > ul li:first-of-type .icon {
  background: url(../img/contact/ic_1.svg) no-repeat 0 0;
  background-size: cover;
}
.contact__section article .contact__wrap > ul li:nth-of-type(2) .icon {
  background: url(../img/contact/ic_2.svg) no-repeat 0 0;
  background-size: cover;
}
.contact__section article .contact__wrap > ul li:nth-of-type(3) .icon {
  background: url(../img/contact/ic_3.svg) no-repeat 0 0;
  background-size: cover;
}
.contact__section article .contact__wrap > ul li:nth-of-type(4) .icon {
  background: url(../img/contact/ic_4.svg) no-repeat 0 0;
  background-size: cover;
}
@media screen and (max-width: 1380px) {
  .contact__section article .contact__wrap .map__wrap #map {
    width: 360px;
    height: 360px;
  }
  .contact__section article .contact__wrap > ul li {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
  .contact__section article .contact__wrap > ul .icon {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 990px) {
  .contact__section article .contact__wrap > ul li:first-of-type .icon {
    background-size: auto 36px;
    background-position: 100% 0;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(2) .icon {
    background-size: auto 36px;
    background-position: 100% 0;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(3) .icon {
    background-size: auto 36px;
    background-position: 100% 0;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(4) .icon {
    background-size: auto 36px;
    background-position: 100% 0;
  }
  .contact__section article .contact__wrap {
    flex-direction: column;
  }
  .contact__section article .contact__wrap > ul {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact__section article .contact__wrap > ul li {
    width: 100%;
    justify-content: center;
  }
  .contact__section article .contact__wrap > ul li > span {
    display: inline-block;
  }
  .contact__section article .contact__wrap > ul li > span:nth-of-type(1) {
    width: 42%;
    text-align: right;
  }
  .contact__section article .contact__wrap > ul li > span:nth-of-type(2) {
    width: 58%;
  }
  .contact__section article .contact__wrap > ul li {
    font-size: 1.3rem;
  }
  .contact__section article .contact__wrap > ul .icon {
    margin-right: 18px;
  }
  .contact__section article .contact__wrap .map__wrap {
    width: 100%;
  }
  .contact__section article .contact__wrap .map__wrap #map {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 550px) {
  .contact__section article .contact__wrap > ul li > span:nth-of-type(1) {
    width: auto;
  }
  .contact__section article .contact__wrap > ul li > span:nth-of-type(2) {
    width: auto;
  }
  .contact__section article .contact__wrap > ul li:first-of-type .icon {
    background-size: cover;
    background-position: 0 0;
    width: 32px;
    height: 32px;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(2) .icon {
    background-size: cover;
    background-position: 0 0;
    width: 32px;
    height: 32px;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(3) .icon {
    background-size: cover;
    background-position: 0 0;
    width: 32px;
    height: 32px;
  }
  .contact__section article .contact__wrap > ul li:nth-of-type(4) .icon {
    background-size: cover;
    background-position: 0 0;
    width: 32px;
    height: 32px;
  }
  .contact__section article .contact__wrap > ul li {
    justify-content: flex-start;
    margin-bottom: 32px;
  }
}
