<header>
  <div class="header__inner">
    <h1>
      <a href="/index.html">
        <img src="/public/img/logo.png" alt="(주)엠에쓰아이 로고" />
      </a>
    </h1>
    <nav>
      <ul class="nav__list">
        <li class="nav__list__title">
          <a class="f__bold roboto" href="/index.html">Home</a>
        </li>
        <li class="nav__list__title">
          <a class="f__bold roboto">About us</a>
          <ul>
            <li>
              <a class="notosansKr" href="/aboutus/msi.html">MSI</a>
            </li>
            <li>
              <a class="notosansKr" href="#">CEO 메세지</a>
            </li>
            <li>
              <a class="notosansKr" href="#">주요연혁</a>
            </li>
          </ul>
        </li>
        <li class="nav__list__title">
          <a class="f__bold roboto">Business</a>
          <ul>
            <li>
              <a class="notosansKr" href="#">비지니스 1</a>
            </li>
            <li>
              <a class="notosansKr" href="#">비지니스 2</a>
            </li>
            <li>
              <a class="notosansKr" href="#">비지니스 3</a>
            </li>
            <li>
              <a class="notosansKr" href="#">비지니스 4</a>
            </li>
          </ul>
        </li>
        <li class="nav__list__title">
          <a class="f__bold roboto">Solution</a>
          <ul>
            <li>
              <a class="notosansKr" href="#">제조 실행</a>
            </li>
            <li>
              <a class="notosansKr" href="/solution/automation.html">자동화</a>
            </li>
            <li>
              <a class="notosansKr" href="#">분석 진단</a>
            </li>
            <li>
              <a class="notosansKr" href="#">임베디드</a>
            </li>
          </ul>
        </li>
        <li class="nav__list__title">
          <a class="f__bold roboto">Contact</a>
          <ul>
            <li>
              <a class="notosansKr" href="/contact/directions.html"
                >찾아오시는길</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="item menu__icon">
      <button class="menu-trigger" id="menuIcon">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
<div class="modal__bg"></div>
